    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Search Results</h1>
            <span><?php echo ($this->items_count > 0) ? $this->items_count . " products found with the specified search string" : "No products found which match your search" ?></span>
        </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">
                <?php if($this->items_count > 0) :?>
                <h4>Narrow your search</h4>
                <div class="col_full">
                    <input class="typeahead sm-form-control" type="text" placeholder="Search within the search results">
                </div>

                <!-- Portfolio Items
					============================================= -->
                <div id="portfolio" class="portfolio-masonry clearfix" portfolio-type=<?php echo $this->productCategory; ?>>

                    <?php if ($this->more_items || 1 ) { echo $this->render("products/productsgrid.phtml");} ?>
                </div><!-- #portfolio end -->
                <?php endif; ?>
                <!-- Portfolio Script
                ============================================= -->
                <script type="text/javascript">

                    jQuery(window).load(function(){

                        var $container = $('#portfolio');

                        $container.isotope({ transitionDuration: '0.65s' });

                        $('#portfolio-filter a').click(function(){
                            $('#portfolio-filter li').removeClass('activeFilter');
                            $(this).parent('li').addClass('activeFilter');
                            var selector = $(this).attr('data-filter');
                            $container.isotope({ filter: selector });
                            return false;
                        });

                        $('#portfolio-shuffle').click(function(){
                            $container.isotope('updateSortData').isotope({
                                sortBy: 'random'
                            });
                        });

                        $(window).resize(function() {
                            $container.isotope('layout');
                        });

                    });

                </script><!-- Portfolio Script End -->

            </div>

        </div>

    </section><!-- #content end -->