<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <?= $this->headTitle()->setSeparator(' | '); ?>
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/style.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/bootstrap-datetimepicker.min.css" type="text/css" />

    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/jquery.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/moment.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/bootstrap/js/transition.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/bootstrap/js/collapse.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/plugins.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/main.js"></script>
</head>
