<!-- Header
    ============================================= -->
		<header id="header" class="transparent-header semi-transparent sticky-header dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/" class="standard-logo"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/logo.png<?php $cache_d = 0; if($cache_d) { echo "?";  echo time(); } ?>" alt="Giftvise Logo" ></a>
                <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/" class="retina-logo"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/logo.png<?php echo '?'; echo time();  ?>" alt="Giftvise Logo" style="max-height:40px; margin-top: 4%;"></a>
            </div><!-- #logo end -->

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-2">
                <?php if (!$this->isGuest || 1) : ?>
                    <ul>
                        <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/login/home"><div>Home</div></a></li>
                        <li><a id="mywishlist" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/wishlist/mywishlist"><div>My Wishlist</div></a></li>
                        <li class="mega-menu"><a href="#"><div>Explore</div></a>
                            <div class="mega-menu-content col-5 clearfix">
                                <ul>
                                    <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=women"><div><i class="icon-female"></i>Women</div></a></li>
                                    <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=entertain"><div><i class="icon-film"></i>Entertainment</div></a></li>
                                </ul>
                                <ul>
                                    <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=men"><div><i class="icon-male"></i>Men</div></a></li>
                                    <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=outdoor"><div><i class="icon-cloud"></i>Outdoors</div></a></li>
                                </ul>
                                <ul>
                                    <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=kid"><div><i class="icon-puzzle"></i>Kids</div></a></li>
                                    <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=other"><div><i class="icon-rocket"></i>Other</div></a></li>
                                </ul>
                                <ul>
                                    <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=home"><div><i class="icon-map-marker2"></i>Home</div></a></li>
                                    <?php if($this->userDetail->role == 2) { ?>
                                        <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/curate?item_type=other&curatetype=1"><div><i class="icon-rocket"></i>Feature products</div></a></li>
                                    <?php } ?>
                                </ul>
                                <ul>
                                    <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=tech"><div><i class="icon-camera-retro"></i>Tech</div></a></li>
                                    <?php if($this->userDetail->role == 2) { ?>
                                        <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/curateusers?item_type=other&curatetype=1"><div><i class="icon-rocket"></i>Feature curators</div></a></li>
                                    <?php } ?>
                                </ul>
                            </div>
                        </li>
                        <li class="mega-menu"><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/friends"><div>Friends</div></a></li>
                        <li class="mega-menu"><a href="#"><div>Blog</div></a></li>

<li class="mega-menu"><a href="#"><div>ADD</div></a>
                            <div class="mega-menu-content col-5 clearfix">
                                <ul>
			          <li id="add-from-bookmarklet"><a href="#" class="add-from-bookmarklet" data-toggle="modal" data-target="#myModal3"><div>From Bookmarklet</div></a></li>
                                </ul>
				<ul>
					<li><a href="#" class="add-from-url" data-toggle="modal" data-target="#myModal2"><div>From URL</div></a></li>
                                </ul>
				<ul>
					<li><a href="#" class="add-from-manual" data-toggle="modal" data-target="#addproductmanualModal"><div>Manual</div></a></li>
				</ul>
                            </div>
			</li>
                    </ul>

                    <!-- Top Cart
                    ============================================= -->
<div id="top-search"></div>
<div id="top-search"></div>
<div id="top-search"></div>
                    <div id="top-settings" class="dark sub-menu">
                        <a href="#">
                            <div>
                                <i class="icon-cog"></i>
                            </div>
                        </a>
                        <ul>
                            <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/settings/account"><div>Account</div></a></li>
                            <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/settings/faqs"><div>FAQs</div></a></li>
                            <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/settings/policy"><div>Privacy Policy</div></a></li>
                            <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/settings/about"><div>About</div></a></li>
                            <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/login/logout"><div>Sign Out</div></a></li>
                        </ul>
                    </div>
                    <div id="top-cart">
                        <a href="#" id="top-cart-trigger"><i class="icon-bell"></i><?php if($this->newNotifications > 0) {?> <span class="new-notifications"><?php echo $this->newNotifications;?></span><?php } ?></a>
                        <div class="top-cart-content">
                            <div class="top-cart-title">
                                <h4>Notifications</h4>
                            </div>
                            <div class="top-cart-items">
                                <?php

                                if ($this->notificationsCount >5 ) : ?>
                                    <li class="clearfix"><div class="col-12 center-align"><a href="#" id="see-all-notifications" class="btn btn-dark col-12">See all notifications</a></div></li>
                                <?php endif ?>
                                <?php
                                echo $this->render("notifications/displaynotifications.phtml");
                                ?>
                            </div>
                            <div class="top-cart-action clearfix">
                                <button id="clear-notifications" class="button button-3d button-small nomargin fright"<?php if( count($this->activityLog) < 1) {?> disabled="disabled" <?php } ?>>Clear</button>
                            </div>
                        </div>
                    </div>

                   <!-- #top-cart end -->
                          <!-- Top Search
                          ============================================= -->
                    <div id="top-search">
                        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                        <form action="/search" method="get">
                            <input type="text" name="search" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                        </form>
                    </div><!-- #top-search end -->

                    <div id="top-search"></div>
		    <div id="top-search"></div>
		    <div id="top-search"></div>
                <?php endif ?>
            </nav><!-- #primary-menu end -->
        </div>

    </div>

</header><!-- #header end -->
