					
	<?php for ($idx = 0; $idx < count($this->allfriends); $idx++) { ?>
						<article class="portfolio-item pf-media pf-icons">
                                                        <div class="portfolio-image">
                                                                <a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo $this->allfriends[$idx]['id']?>">
                                                                        <img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?php echo $this->allfriends[$idx]['profile_pic']?>" alt="Open Imagination">
                                                                </a>
                                                                <div class="portfolio-overlay">
                                                                        <a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                                                        <a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo $this->allfriends[$idx]['id']?>" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                                </div>
                                                        </div>
                                                        <div class="portfolio-desc">
                                                                <h3><a href="portfolio-single.html"><?php echo  $this->allfriends[$idx]['name'];?></a></h3>
                                                              <!--  <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                                                        </div>
                                                </article>
      <?php } ?>
