		<!-- ============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Friends</h1>
				<span>Invite your friends to join Giftvise, so you can always get them the right gifts!		</span>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Portfolio Filter
					============================================= -->
					<ul id="portfolio-filter" data-server="<?php echo $this->server->securehttp.$this->server->apphost; ?>" class="portfolio-filter clearfix group-list" data-container="#portfolio">

						<li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
					 <?php foreach($this->groups as $group): ?>
                                                <li><a href="#" glink="<?php echo $this->server->securehttp.$this->server->apphost; ?>/friends/friendscontentgroupbelong?group_id=<?php echo $group->id?>" data-filter=".<?php echo $group->group_name ?>"><?php echo $group->group_name ?></a></li>
<!--
                                                <li><a href="#" data-filter=".pf-icons">School</a></li>
                                                <li><a href="#" data-filter=".pf-icons">Work</a></li>
                                                <li><a href="#"><i class="icon-plus-sign"></i></a></li></li>
-->
                                             <?php endforeach ?>
 					<?php foreach($this->GroupIBelong as $group): ?>
<li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/friends/friendscontentgroupbelong?group_id=<?php echo $group->id?>" data-filter=".<?php echo $group->group_name ?>"><?php echo $group->group_name ?></a></li>
                                             <?php endforeach ?>
<!--
						<li><a href="#" data-filter=".pf-icons">Icons</a></li>
						<li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
						<li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
						<li><a href="#" data-filter=".pf-media">Media</a></li>
-->
					</ul><!-- #portfolio-filter end -->

					<div id="friends-modals" class="fright">
						<a href="#group-create" data-lightbox="inline" class="button button-small button-dark button-rounded"><i class="fa fa-plus"></i></a>
						<a href="#" data-lightbox="inline" class="button button-small button-dark button-rounded"><i class="fa fa-trash-o"></i></a>
						<a href="#invite-friends" data-lightbox="inline" class="button button-small button-dark button-rounded"><i class="fa fa-envelope-o"></i></a>
					</div>


					<div class="clear"></div>

					<div class="well">
						This fun group is for family! <br>
						Invite others to this group by emailing them the following unique code: <a href="#">XHJKASD</a>
					</div>

					<div class="col_full">
						<input class="typeahead sm-form-control" type="text" placeholder="Search for a friend">
					</div>

					<!-- Modal for Creating a Group
					================================= -->
					<!-- Modal for group create -->
					<div class="modal1 mfp-hide" id="group-create">
						<div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
							<div class="nobottommargin" style="padding: 20px;">
								<h3 style="color:rgb(200,0,0); margin-bottom:0px; text-align: center">Create a Group</h3>
								<h4 style="text-align: center;">Easily share wishlist with the entire group</h4>
								<div class="divider divider-short divider-rounded divider-center nobottommargin"><i class="icon-pencil"></i></div>
							</div>
							<form action="#" class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
								<div class="col_one_third divcenter">
									<label for="group-name" class="capitalize t600">Group Name</label>
									<input type="text" id="group-name" name="group-name" value="" class="sm-form-control" />
								</div>
								<div class="col_two_third divcenter">
									<label for="group-description" class="capitalize t600">Description</label>
									<textarea id="group-description" name="group-description" value="" class="sm-form-control" /></textarea>
								</div>
								<div class="divcenter bottommargin-sm">
									<button type="submit" id="save-group-details" class="button button-rounded button-small button-dark nomargin" value="submit">Save</button>
								</div>
							</form>
						</div>
					</div>

					<!-- Modal for invite friends -->
					<div class="modal1 mfp-hide" id="invite-friends">
						<div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:800px;">
							<div class="nobottommargin" style="padding: 20px;">
								<h3 style="color:rgb(200,0,0); margin-bottom:0px; text-align: center">Invite Friends</h3>
								<h4 style="text-align: center;">Know what to gift your friends!</h4>
								<div class="divider divider-short divider-rounded divider-center nobottommargin"><i class="icon-envelope"></i></div>
							</div>
							<form action="#" class="clearfix" style="max-width: 400px; max-height: 800px; text-align: center;">
								<div class="col_two_third divcenter">
									<label for="friends-email" class="capitalize t600">Enter Friend's Email</label>
									<input type="email" id="friends-email" name="friends-email" value="" class="sm-form-control" />
								</div>
								<div class="divcenter bottommargin-sm">
									<button type="submit" class="button button-rounded button-small button-dark nomargin" value="submit">Invite</button>
								</div>
								<div class="divider divider-short divider-rounded divider-center nobottommargin"><i class="icon-share"></i></div>
								<div class="col_half">
									<a href="#" class="social-icon si-dark si-small si-facebook fright">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
									</a>
								</div>
								<div class="col_half col_last">
									<a href="#" class="social-icon si-dark si-small si-twitter">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
									</a>
								</div>
							</form>
						</div>
					</div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio grid-container portfolio-6 clearfix">
						<?php echo $this->render("wishlist/friendslist.phtml"); ?>
						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/1.jpg" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Open Imagination</a></h3>
								<span><a href="#">Media</a>, <a href="#">Icons</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-illustrations">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/2.jpg" alt="Locked Steel Gate">
								</a>
								<div class="portfolio-overlay">
									<a href="images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
								<span><a href="#">Illustrations</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-uielements">
							<div class="portfolio-image">
								<a href="#">
									<img src="images/portfolio/4/3.jpg" alt="Mac Sunglasses">
								</a>
								<div class="portfolio-overlay">
									<a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
									<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
								<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-icons pf-illustrations">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/4.jpg" alt="Morning Dew"></a></div>
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/4-1.jpg" alt="Morning Dew"></a></div>
										</div>
									</div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<a href="images/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
									<a href="images/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
								<span><a href="#"><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-uielements pf-media">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/5.jpg" alt="Console Activity">
								</a>
								<div class="portfolio-overlay">
									<a href="images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Console Activity</a></h3>
								<span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-illustrations">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6.jpg" alt="Shake It"></a></div>
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6-1.jpg" alt="Shake It"></a></div>
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6-2.jpg" alt="Shake It"></a></div>
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6-3.jpg" alt="Shake It"></a></div>
										</div>
									</div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<a href="images/portfolio/full/6.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
									<a href="images/portfolio/full/6-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="images/portfolio/full/6-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="images/portfolio/full/6-3.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
								<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-uielements pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/portfolio/4/7.jpg" alt="Backpack Contents">
								</a>
								<div class="portfolio-overlay">
									<a href="http://www.youtube.com/watch?v=kuceVNBTJio" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
									<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
								<span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-graphics">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/8.jpg" alt="Sunset Bulb Glow">
								</a>
								<div class="portfolio-overlay">
									<a href="images/portfolio/full/8.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
								<span><a href="#">Graphics</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-illustrations pf-icons">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="650" data-pause="3500" data-animation="fade">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/9.jpg" alt="Bridge Side"></a></div>
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/9-1.jpg" alt="Bridge Side"></a></div>
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/9-2.jpg" alt="Bridge Side"></a></div>
										</div>
									</div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<a href="images/portfolio/full/9.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
									<a href="images/portfolio/full/9-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="images/portfolio/full/9-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Bridge Side</a></h3>
								<span><a href="#">Illustrations</a>, <a href="#">Icons</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-media pf-uielements">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/portfolio/4/10.jpg" alt="Study Table">
								</a>
								<div class="portfolio-overlay">
									<a href="http://vimeo.com/91973305" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
									<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-video.html">Study Table</a></h3>
								<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/11.jpg" alt="Workspace Stuff">
								</a>
								<div class="portfolio-overlay">
									<a href="images/portfolio/full/11.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Workspace Stuff</a></h3>
								<span><a href="#">Media</a>, <a href="#">Icons</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-illustrations pf-graphics">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="700" data-pause="7000">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/12.jpg" alt="Fixed Aperture"></a></div>
											<div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/12-1.jpg" alt="Fixed Aperture"></a></div>
										</div>
									</div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<a href="images/portfolio/full/12.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
									<a href="images/portfolio/full/12-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-gallery.html">Fixed Aperture</a></h3>
								<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
							</div>
						</article>

					</div><!-- #portfolio end -->

				</div>

			</div>
      
					 <script type="text/javascript">

                                                jQuery(window).load(function(){

                                                        var $container = $('#portfolio');

                                                        $container.isotope({ transitionDuration: '0.65s' });

                                                        $('#portfolio-filter a').click(function(){
                                                                $('#portfolio-filter li').removeClass('activeFilter');
                                                                $(this).parent('li').addClass('activeFilter');
                                                                var selector = $(this).attr('data-filter');
                                                                $container.isotope({ filter: selector });
                                                                return false;
                                                        });

                                                        $('#portfolio-shuffle').click(function(){
                                                                $container.isotope('updateSortData').isotope({
                                                                        sortBy: 'random'
                                                                });
                                                        });

                                                        $(window).resize(function() {
                                                                $container.isotope('layout');
                                                        });
							 $('#portfolio-filter a').click(function(){  
                                                                $('#portfolio-filter li').removeClass('activeFilter');
                                                                $(this).parent('li').addClass('activeFilter');
                                                                var selector = $(this).attr('data-filter');
                                                                $container.isotope({ filter: selector });
                                                                return false;
                                                        });

                                                        
						      $(document).on('click', '#save-group-details', function(e){
							        e.preventDefault();
								$group_name = $('#group-name').val();
								$group_description = $('#group-description').val();
								$group_id = '';
								var server = ''; //$('.group-list').attr('data-server'); //alert(server);
 							       // if($('#save-group-form').valid()){
                                                                $.ajax({
             							   type: "POST",
             							   url: '/wishlist/addoreditgroup?group_name='+$group_name+'&group_description='+$group_description+'&group_id='+$group_id,
             							   success: function(data)
                						   {
                                                                      //  $.magnificPopup.close();
                                                                         html = '<li>' +
					                                    '<a href="#" glink"' + server + '/newfriends/friendscontentgroup?group_id=' + data.id + '" data-filter=.'+$group_name+'>' +
                                                                        ''+$group_name+'</a>' +
                                                                        '</li>';
                                                                        $('.group-list').append(html);

                                                                   }
                                                                 });
								// }
								$.magnificPopup.close();
							});
                                                });

                                        </script><!-- Portfolio Script End -->


		</section><!-- #content end -->
