                                   <?php foreach(range(0, (count($this->items)-1)) as $n): ?>
						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
                                                  <a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/products/productdetail?pid=<?php echo $this->items[$n]->id; ?>">
                                                  <img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/productimg/<?php echo $this->items[$n]->image;?>" alt="Open Imagination">
                                                  </a>
								<div class="portfolio-overlay">

<?php if ($this->extval[$n]['wished']) { ?>
                                                                <a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-minus"></i></a>                                                                       
   <?php } else { ?>                                                    
<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> 
<?php }	?>
								<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/products/productdetail?pid=<?php echo $this->items[$n]->id; ?>"><?php echo $this->items[$n]->item_name; ?></a></h3>
								<span><a href="#"></a> <a href="#"><?php echo $this->items[$n]->description; ?></a></span>
							</div>
						</article>    
                                     <?php endforeach; ?>

