  <style type="text/css">
            #largeImgPanel {
                text-align: center;
                display: none;
                position: fixed;
                z-index: 100;
                top: 0; left: 0; width: 100%; height: 100%;
                background-color: rgba(100,100,100, 0.5);
            }
  </style>

        <div id="largeImgPanel" onclick="this.style.display='none'">
            <img id="largeImg"
                 style="height:100%; margin:0; padding:0;" />
        </div>


	<script type="text/javascript">
            function showImage(smSrc, lgSrc) {
                document.getElementById('largeImg').src = smSrc;
                showLargeImagePanel();
                unselectAll();
                setTimeout(function() {
                    document.getElementById('largeImg').src = lgSrc;
                }, 1)
            }
            function showLargeImagePanel() {
                document.getElementById('largeImgPanel').style.display = 'block';
            }
            function unselectAll() {
                if(document.selection)
                    document.selection.empty();
                if(window.getSelection)
                    window.getSelection().removeAllRanges();
            }
        </script>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

						<div class="col_three_fifth bottommargin">
							<div class="team team-list clearfix">
								<article class="portfolio-item pf-media pf-icons">
									<div class="portfolio-image">
										<img class="file-upload-main-image "
											 src="<?= $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?=$this->userDetail->profile_pic?>"
											 class="" alt="<?echo $this->userDetail->first_name . ' ' . $this->userDetail->last_name;?>" alt="Open Imagination">
										<div class="progress">
											<img src="/images/ajax-loader.gif">
											<div class="bar"></div>
										</div>
										<input type="hidden" class="form-control image-url" id="user-image-url" name="imageurl">
										<div class="portfolio-overlay">
											<li><a href="#" class="center-icon" id="user-upload-image"><div><i
															class="icon-line-upload"></i></div></a></li>
										</div>
										<input type="file" id="user-image" name="user-image" value=""
											   class="sm-form-control"/>
									</div>
								</article>

								<div class="team-desc">
									<div class="team-title">
										<h4 style="display: inline-block"><?php echo $this->userDetail->first_name . ' ' . $this->userDetail->last_name;?> &nbsp;</h4>
									</div>
									<div class="about-me">
										<div class="about-me-m" >
											<p class="about-me-label">Express your wishes...&nbsp;<a class="about-me-edit" id="write-about-me" href="#"><i class="icon-edit"></i></a></p>
										</div>
										<div class="about-me-m1">
											<p class="about-me-statement" id="about-me-statement"> <?php echo $this->userDetail->about_me;?> </p>
										</div>
										<div class="write-about-me-form">
											<textarea maxlength="350" id="about-me-info-edit" name="about-me-info-edit" class="form-control"><?php echo $this->userDetail->about_me;?></textarea>
										</div>
										<div class="row about-save-btn">
											<div class="col-lg-3 col-md-3 col-sm-3 my-col-xs-3">
												<button type="submit" class="button button-mini button-dark button-rounded add-from-url write-about-me-save-btn" id="button-about-me-save" >Save</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col_two_fifth col_last nobottommargin">

							<!-- Portfolio Single - Meta
							============================================= -->
							<div class="panel panel-default events-meta"/>
								<div class="panel-body">
									<ul class="portfolio-meta nobottommargin">
										<li><span><i class="icon-calendar3"></i>Birthday:</span> <?php echo date('F dS', strtotime($this->userDetail->birth_date)); ?></li>
										<li><span><i class="fa fa-binoculars"></i>Wishlist Views:</span><?php echo $this->userDetail->profile_views; ?></li>
										<li>
												<span><i class="fa fa-star"></i>Influencer Ranking:</span>
												<span class="label label-info" style="max-width: 90px; text-align: center;"><?php if($this->rank_pos) { echo "Top  "; echo $this->rank_pos;} else {echo "Unranked"; } ?> </span>
										</li>
										<li><span><i class="icon-link"></i>Link:</span> <a id="blog-link-go" href="<?php echo $this->userDetail->blog_link; ?>"><?php echo $this->userDetail->blog_link; ?></a>
<span id="edit-blog-link"><a href="#" id="edit-blog-link-a" style="" class="bt-editable" data-type="text" data-placement="right" data-pk="1" data-title="Enter your blog link"><?php if($this->userDetail->blog_link == '') { echo "(add link)"; } else { echo "(edit link)"; } ?></a></span></li>
									</ul>
								</div>
							</div>
							<!-- Portfolio Single - Meta End -->
						</div>

					<div class="divider divider-center"><i class="icon-circle"></i></div>

					<!-- Portfolio Filter
					============================================= -->
					<ul id="portfolio-filter" class="clearfix">
						<?php echo $this->render("products/productstags.phtml"); ?>
					</ul><!-- #portfolio-filter end -->

					<div style ="float:right;">

<!--                                            <nav id="primary-menu" class="style-3">
                                              <ul>
                                                <li>
                                                  <a href="#" class="button button-mini button-rounded add-from-url" data-toggle="modal" data-target="#myModal2" >Add</a>
                                                  <ul>
                                                     <li><a href="#" class="add-from-url" data-toggle="modal" data-target="#myModal3"><div>From Bookmarklet</div></a></li>
                                                     <li><a href="#" class="add-from-url" data-toggle="modal" data-target="#myModal2"><div>From URL</div></a></li>
                                                     <li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/settings/policy"><div>Manul</div></a></li>
                                                  </ul>
                                               </li>
                                               <li>
                                                <a href="#" class="button button-mini  button-rounded add-from-url" data-toggle="modal" data-target="#myModal4" >Share</a>
                                               </li>
                                             </ul>
          
</nav>
-->
						<a href="#" class="button button-mini button-dark button-rounded" data-toggle="modal" data-target="#myModal4">Share</a>
					</div>

				<div class="clear"></div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio-masonry clearfix">
        			
                                            <?php if ($this->more_items) { echo $this->render("products/productsgrid.phtml");} ?> 
					</div><!-- #portfolio end -->

					<!-- Portfolio Script
					============================================= -->
					<script type="text/javascript">

					</script><!-- Portfolio Script End -->

				</div>

			</div>

		</section><!-- #content end -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/my-wishlist.js<?php $cache_d = 0; if($cache_d) { echo "?"; echo time(); } ?>"></script>
