
 <style type="text/css">
            #largeImgPanel {
                text-align: center;
                display: none;
                position: fixed;
                z-index: 100;
                top: 0; left: 0; width: 100%; height: 100%;
                background-color: rgba(100,100,100, 0.5);
            }
  </style>

        <div id="largeImgPanel" onclick="this.style.display='none'">
            <img id="largeImg"
                 style="height:100%; margin:0; padding:0;" />
        </div>


        <script type="text/javascript">
            function showImage(smSrc, lgSrc) {
                document.getElementById('largeImg').src = smSrc;
                showLargeImagePanel();
                unselectAll();
                setTimeout(function() {
                    document.getElementById('largeImg').src = lgSrc;
                }, 1)
            }
            function showLargeImagePanel() {
                document.getElementById('largeImgPanel').style.display = 'block';
            }
            function unselectAll() {
                if(document.selection)
                    document.selection.empty();
                if(window.getSelection)
                    window.getSelection().removeAllRanges();
            }
        </script>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

						<div class="col_three_fifth bottommargin">
							<div class="team team-list clearfix">
								<div class="team-image" style="width:25%">
                                                                   <img src="<?= $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?=$this->friendDetail->profile_pic?>" class="avatar" alt="<?echo $this->friendDetail->first_name . ' ' . $this->friendDetail->last_name;?>"  onclick="showImage(this.src, '<?= $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?=$this->friendDetail->profile_pic?>');" style="cursor:pointer">
								</div>
								<div class="team-desc">
									<div class="team-title">
										<h4 style="display: inline-block"><?php echo $this->friendDetail->first_name . ' ' . $this->friendDetail->last_name;?> &nbsp;</h4>
                                        <?php $status = $this->status ? $this->status : 'Follow'; ?>
                                        <a href="#" class="button button-mini button-dark button-rounded status<?php echo $status?>"
                                           friend-id="<?php echo $this->friendDetail->user_id ?>" 
                                            <?php if($this->status == 'Unfollow') { ?> 
                                                data-mfp-src="#unfollow-friend" data-lightbox="inline"
                                            <?php } ?>
                                            <?php if($this->status == 'Pending') { ?>
                                                data-toggle="tooltip" data-placement="top" title="Pending for approval"
                                            <?php } ?>>
                                                <?php echo $status; ?>
                                        </a>
									</div>
									<div class="team-content">
										<p><?php echo $this->friendDetail->about_me;?></p>
									</div>
								</div>
							</div>
						</div>

						<div class="col_two_fifth col_last nobottommargin">

							<!-- Portfolio Single - Meta
							============================================= -->
							<div class="panel panel-default events-meta"/>
								<div class="panel-body">
									<ul class="portfolio-meta nobottommargin">
										<li><span><i class="icon-calendar3"></i>Birthday:</span> <?php echo date('F dS', strtotime($this->friendDetail->birth_date)); ?></li>
										<li><span><i class="fa fa-binoculars"></i>Wishlist Views:</span> <?php echo $this->friendDetail->profile_views; ?></li>
										<li>
												<span><i class="fa fa-star"></i>Influencer Ranking:</span>
												<span class="label label-info" style="max-width: 90px; text-align: center;"><?php if($this->rank_pos) { echo "Top  "; echo $this->rank_pos;} else {echo "Unranked"; } ?> </span>
										</li>
										<li><span><i class="icon-link"></i>Link:</span> <a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<!-- Portfolio Single - Meta End -->
						</div>

					<div class="divider divider-center"><i class="icon-circle"></i></div>

					<!-- Portfolio Filter
					============================================= -->
					<ul id="portfolio-filter"  class="clearfix">

<!--						<li><a href="#" data-filter=".pf-icons">Icons</a></li>
						<li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
						<li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
						<li><a href="#" data-filter=".pf-media">Media</a></li>
						<li><a href="#" data-filter=".pf-graphics">Graphics</a></li>
-->
                                                <?php echo $this->render("products/productstags.phtml"); ?>
					</ul><!-- #portfolio-filter end -->
<!--
					<div style ="float:right;">
						<a href="#" class="button button-mini button-dark button-rounded">Add</a>
						<a href="#" class="button button-mini button-dark button-rounded">Share</a>
					</div>
-->
				<div class="clear"></div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" friend-id="<?php echo $this->friendDetail->user_id; ?>" class="portfolio-masonry clearfix">
                                                  <?php if ($this->more_items || 1 ) { echo $this->render("products/productsgrid.phtml");} ?>
					</div><!-- #portfolio end -->

					<!-- Portfolio Script
					============================================= -->
	<script type="text/javascript">

						jQuery(window).load(function(){
       						       var $container = $('#portfolio');                                              
						       var $loadComplete = true;

                    function initFilter() {
                        $('#portfolio-filter a').click(function () {
                            $('#portfolio-filter li').removeClass('activeFilter');
                            $(this).parent('li').addClass('activeFilter');
                            var selector = $(this).attr('data-filter');
                            $container.isotope({filter: selector});
                            return false;
                        });
                    }

                    function updateFilterByTagsList() {
                        // get item ids
                        var itemIds = "('";
                        var noElements = true;
                        $('.portfolio-image').each(function () {
                            itemIds += $(this).attr('id') + "','";
                            noElements = false;
                        });

                        //alert(itemIds);
                        
                        var $page = 'friends';
                        if (noElements == false) {
                            var filters = new Array();
                            $('#portfolio-filter li a').each(function () {
                                filters.push($(this).attr('data-filter'));
                            });
                            $.ajax({
                                type: "POST",
                                url: "/products/getproductstagsasarray?page=" + $page + "&item_ids=" + itemIds.slice(0, -2) + ")",
                                success: function (result) {
                                    if (!(result.fail)) {
                                        var filters = new Array();
                                        $('#portfolio-filter li a').each(function () {
                                            filters.push($(this).attr('data-filter'));
                                        });
                                        result.tags.forEach(function(tag) {
                                            if ((tag.name !== null) && (tag.name !== '')) {
                                                var tagName = '.' + tag.name.trim();
                                                if (jQuery.inArray(tagName, filters) === -1) {
                                                    var newFilter = $('#portfolio-filter').children().eq(1).clone();
                                                    $('#portfolio-filter').append(newFilter);
                                                    newFilter = $('#portfolio-filter').children().eq($('#portfolio-filter').children().length - 1);
                                                    newFilter.children().eq(0).attr('data-filter', tagName).html(tag.name.trim());
                                                }
                                            }
                                        });
                                        $('#portfolio-filter').append(result);
                                    }
                                }
                            });
                        }
                    }


       						       function LoadMoreProducts(beg) {

                                                            if ($loadComplete != true) {
              							return;
						            }
							    $loadComplete = false;

                                                            var $next_start = 0;
						            $('#portfolio').each(function(){
             						       $next_start = $(this).attr('next_start');
         						    });
                                                            $next_start= $(".portfolio-image > div").size();
   						            $page = 'friends&pgid=2';
							    $friend_id = $('#portfolio').attr('friend-id'); 
                                                            $subpage = '';
                                                            $curatetype = '';
                                                            $.ajax({
                       						 cache:false,
                    					         url: '/products/productsgrid?ajax=1&next_start='+ $next_start +'&page='+ $page +'&append=true&subpage='+$subpage+'&curatetype='+$curatetype+'&friend_id='+$friend_id,
                    					         success: function(data){  
                              				       	       $container.isotope('insert', $(data), function(){
                                   			                  $container.imagesLoaded(function() {
                                                                             $container.isotope('reLayout');
                                                                          });
                                                                       });
                                                                    updateFilterByTagsList();
							            initFilter(); 
							            $loadComplete = true;
							            /*
                            				    	    //$('#load-progress').hide();
                                			            //$('#load-progress img').hide();
                                                                    updateFilterByTagsList();
                                                                    initToggleTileHoverState();
                                                                    initToolTips();
                                                                    timeConvert();
                                                                    loadComplete = true;*/
                                                                }
                 				            }); 
                                                        }

							$container.isotope({ transitionDuration: '0.65s' });

							initFilter();

							$('#portfolio-shuffle').click(function(){
								$container.isotope('updateSortData').isotope({
									sortBy: 'random'
								});
							});

							$(window).resize(function() {
								$container.isotope('layout');
							});
                                                        $(window).scroll(function(){
                                                                 if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                                                                        // you're at the bottom of the page
                                                                      LoadMoreProducts(false);
                                                                 }
                                                        });
						});

					</script><!-- Portfolio Script End -->



                <div class="modal1 mfp-hide" id="unfollow-friend">
                    <div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
                        <div class="nobottommargin" style="padding: 20px;">
                            <h4 style="text-align: center;">Do you want to unfollow this friend?</h4>
                        </div>
                        <div class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
                            <div class="divcenter bottommargin-sm">
                                <button id="unfollow-yes" class="button button-rounded button-small button-dark nomargin">Yes</button>
                                <button class="button button-rounded button-small button-dark nomargin cancel-action">No</button>
                            </div>
                        </div>
                    </div>
                </div>



				</div>

			</div>

		</section><!-- #content end -->
