<div class="center">
    <div id="fb-root"></div>
    <a class="button button-rounded si-facebook si-colored" onClick="checkLoginState();">Facebook</a>
    <span class="hidden-xs">or</span>
    <a class="button button-rounded si-twitter si-colored" onclick="window.top.location.href='<?php echo $this->server->securehttp.$this->server->apphost; ?>/login/logintwiter'">Twitter</a>
</div>