<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<?php echo $this->render('/head.phtml') ?>
<?php echo $this->render('/social-login/facebook-script.phtml') ?>
<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">

            <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('images/Teel_Bike.jpg') center center no-repeat; background-size: cover;"></div>

            <div class="section nobg full-screen nopadding nomargin">
                <div class="container vertical-middle divcenter clearfix">

                    <div class="panel panel-default divcenter noradius noborder login-panel">
                        <div class="row center" style="padding-top: 10px;">
                            <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/">
                                <img class="landing-logo" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/logo.png" alt="Giftvise Logo">
                            </a>
                        </div>
                        <div class="panel-body" style="padding: 40px; padding-bottom: 10px; padding-top: 10px;">
                            <form id="login-form" name="login-form" class="nobottommargin">
                                <h3 class="landing-title">Login to your Account</h3>
                                <?php echo $this->render('/social-login/social-buttons.phtml') ?>
                                <div class="line line-sm"></div>
                                <div class="col_full">
                                    <label for="email">Email:</label>
                                    <input type="text" id="email" name="email" value="" class="form-control not-dark" />
                                </div>

                                <div class="col_full">
                                    <label for="password">Password:</label>
                                    <input type="password" id="password" name="password" value="" class="form-control not-dark" />
                                </div>

                                <div class="center">
                                    <button class="button button-3d button-red nomargin col_full" id="sign-in" name="login-form-submit" value="login">Login</button><br>
                                    <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/login/forgot" class="fcenter">Forgot Password?</a>
                                </div>
                            </form>

                            <div class="line line-sm"></div>

                            <div class="center">
                                <span class="fcenter">Need an account?</span><br>
                                <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/login/register" class="button button-3d button-teal nomargin">Sign up</a>
                            </div>

                        </div>
                    </div>

                    <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Giftvise Inc.</small></div>

                </div>
            </div>

        </div>

    </section><!-- #content end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/functions.js"></script>

</body>
</html>
