/*------------------------------------------------------------------ 
 * Copyright (c) 2013-2014 by Giftvise, Inc.
 * All rights reserved. 
 *------------------------------------------------------------------
 */

body {
	/*background: #ccc;*/
}
.gv-bookmarklet {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	width: 500px !important;
	height: 835px !important;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -250px !important;
	z-index: 9999999999;
	background-color: #fff;
	box-shadow: 2px 2px 10px #000;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	box-sizing: content-box;
}

.gv-bookmarklet-clearfix:before,
.gv-bookmarklet-clearfix:after {
	overflow: hidden;
	width:540px;
}
.gv-bookmarklet  .bookmarklet-header {
	margin: 0 0 0 -30px;
	min-height: 16.428571429px;
	padding: 15px 0 15px 30px;
	background-color: #1b1b1f;
	width: 540px;
	box-sizing: content-box;
}

.gv-bookmarklet  .bookmarklet-header .bookmarklet-title{
	text-transform: uppercase;
	text-align: left;
	color: #8d8d8f;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	/*line-height: 1.428571429;*/
	line-height: 2.128571;
}
.gv-bookmarklet .bookmarklet-img{
	text-align: center;
	vertical-align: middle;
}
.gv-bookmarklet h4 img {
	float: left;
	height: 25px;
	margin-right: 10px;
}
.gv-bookmarklet .close {
	float: right;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 29px;
	margin: -3px 15px 0 0;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	opacity: 0.4;
	filter: alpha(opacity=40);
	line-height: 1;
}
.gv-bookmarklet .close:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.gv-bookmarklet form, .gv-bookmarklet fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}
.gv-bookmarklet .bookmarklet-left {
	/*float: left;*/
	/*width: 200px;*/
	/*margin: 10px 10px 0 0;*/
}
.gv-bookmarklet .bookmarklet-right {
	/*float: right;*/
	margin: 10px 0 10px 0;
	width: 500px;
}
.gv-bookmarklet .bookmarklet-form-group {
	/*margin-bottom: 15px;*/
}
.gv-bookmarklet .bookmarklet-form-group .item-name{
	color: #222;
	text-decoration: none !important;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	text-align: center !important;
	/*margin-top: 70px;*/
}
.gv-bookmarklet .bookmarklet-form-group label {
	text-align: center;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	color: #555;
	margin-bottom: 15px;
	cursor: pointer;
	width: 100%;
}
.gv-bookmarklet .bookmarklet-form-control {
	display: block;
	/* width: 100%; */
	height: 38px !important;
	padding: 8px 14px;
	font-family: Lato, sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 2px solid #DDD;
	border-radius: 0 !important;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
	width: 30.63%;
	margin-left: auto;
	margin-right: auto;
}
#input-desc {
	width:90%;
	height: 125px !important;
	margin-bottom: 15px;
}
.gv-bookmarklet .bookmarklet-form-control:focus {
	border-color: #66afe9;
	background: #fff;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.gv-bookmarklet .bookmarklet-form-control[disabled],
.gv-bookmarklet .bookmarklet-form-control[readonly],
fieldset[disabled] .bookmarklet-form-control {
	cursor: not-allowed;
	background-color: #eeeeee;
}
.gv-bookmarklet textarea.bookmarklet-form-control {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height:70px;
}
.gv-bookmarklet .bookmarklet-buttons-group{
	/*width: 300px;*/
}
.gv-bookmarklet .bookmarklet-btn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px 5%;
	padding: 0 22px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background-color: #444;
	color: #FFF;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	padding: 0 17px;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	border-radius: 3px;
	float: right;
	
}
.add-btn-min-width {
	min-width:70px;
	margin-left: 20px !important;
}
.gv-bookmarklet .bookmarklet-btn:hover {
	background-color: #1ABC9C;
}
.gv-bookmarklet .bookmarklet-btn-light {
	width: 100%;
	float: none;
	background-color: #e6e6e6;
	color: #7c7c7c;
}
.gv-bookmarklet .bookmarklet-btn-light:hover {
	color: #7c7c82;
	background-color: #24242f;
}
.gv-bookmarklet hr {
	height: 0;
	padding-top: 20px;
	background-color: #ffffff;
	color: #ffffff;
	margin: 0 0 20px 0;
	border: 0;
	border-bottom: 1px solid #dadada;
}
.gv-bookmarklet .bookmarklet-float-left {
	float: left !important;
}
.gv-bookmarklet .bookmarklet-float-right {
	float: right !important;
}
.gv-bookmarklet .bookmarklet-imgswitch{
	width: 500px;
	margin-top: -240px;
	padding-bottom: 240px;
}
.gv-bookmarklet .bookmarklet-imgswitch button {
	width: 50px;
}

.gv-bookmarklet .bookmarklet-images-switch{
	width:100px;
	overflow:hidden;
	float:left;
	left:70px;
	display: none;
}

.gv-bookmarklet .bookmarklet-images-container{
	width:1000px;
	position:relative;
}
.gv-bookmarklet .item-image-wrapper{
	width:50px;
	float:left;
	text-align:center;
}

.gv-bookmarklet .item-image{
	max-width:100%;
	height:50px;
}

.gv_ckeckbox {
	white-space:nowrap;
}

.gv_label {
	width: 70px;
	display: inline-block;
}

.gv-bookmarklet .bookmarklet-privacy {
	display:inline-block;
	position: relative;
	width: 170px;
	white-space: nowrap;
	float: left !important;
}
.gv-bookmarklet .bookmarklet-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 170px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	background-color: #111114;
	width: auto;
	border: none;
	border-radius: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: -1px;
}
.gv-bookmarklet .bookmarklet-dropdown-menu li {
	list-style: none;
}
.gv-bookmarklet .bookmarklet-dropdown-menu li ul {
	margin: 0;
	padding: 0;
}
.gv-bookmarklet .bookmarklet-dropdown-menu li a {
	text-decoration: none;
	white-space: nowrap;
	display: block;
	padding: 6px 20px;
	clear: both;
	line-height: 1.428571429;
	text-align: left;
	font-weight: 300;
	color: #7c7c7c;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.gv-bookmarklet .bookmarklet-dropdown-menu li li a {
	font-size: 13px;
	padding: 4px 20px 4px 30px;
}
.gv-bookmarklet .bookmarklet-dropdown-menu li a:hover {
	background: rgba(255,255,255,0.1);
	color: #fff;
}
.gv-bookmarklet .bookmarklet-dropdown-menu li.bookmarklet-selected a {
	color: #fff;
	background-color: #04aeee;
}

.gv-bookmarklet .bookmarklet-privacy-dropdown:hover > .bookmarklet-dropdown-menu {
	display: block;
}
.gv-bookmarklet .bookmarklet-privacy-dropdown:hover > .bookmarklet-btn-light {
	color: #fff;
	background-color: #04aeee;
}
.gv-bookmarklet .bookmarklet-main-image-wrapper{
	width: 500px;
	height: 375px;
}
.gv-bookmarklet .bookmarklet-main-img{
	max-width: 100%;
	max-height: 100%;
}

.gv-bookmarklet .bookmarklet-hr{
	margin: 20px 0 20px 0;
	background-color: #dadada;
	height: 1px;
}

.gv-bookmarklet .bookmarklet-body{
	width: 500px;
	height: 396px;
	position: relative;
}

#load-img{
	position: absolute;
	top: 47%;
	left: 47%;
}
.hidden{
	display: none;
}

.width200{
	width: 200px;
}

.width296{
	width:296px;
}

.privacy-switch {
	display:inline-block;
	position: relative;
	width: 50%;
	margin-top: 3px;
	white-space: nowrap;
	float: left !important;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	color: #7c7c7c;
}
.privacy-switch .switch {
	font-size: 12px;
	color: #7c7c7c;
	display: inline-block;
	text-align: center;
	height: 25px;
	line-height: 25px;
	padding: 0px 8px;
	margin: 8px 10%;
	cursor: pointer;
	float: left;
}
.privacy-switch .switch:hover {
	/*background-color: #1ABC9C;*/
	/*color: #fff;*/
	/*text-decoration: none;*/
}

.privacy-switch .switch.active {
	background-color: #1ABC9C;
	color: #fff;
}

.privacy-switch .switch [for=switch-toggle-2] {
	top: -30px;
}
.privacy-switch .switch .label{
	margin: -55px 0 0 70px;
} 
.recommend-form{
	display: none;
}

.scroll-help {
	float:left !important;
	align:center !important;
	text-align: center !important;
	font-size: 13px !important;
	font-weight:500 !important;
}

.bm-check-image {
	float:left !important;
	margin-top:20px !important;
	margin-left:-80px !important;
	text-align: center !important;
	text-transform: uppercase !important;
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #7c7c7c !important;
}
.add-label {
	float:left !important;
	margin-top:36px !important;
	margin-left:-44px !important;
}

.bm-show {
	display: block;
}

.bm-hide {
	display: none;
}

@media screen and (min-width: 600px) and (max-height: 400px){
	.gv-bookmarklet{
		overflow-y: auto;
		max-height: 90%;
		width: 555px !important;
	}
}
@media screen and (min-width: 600px) and (min-height: 570px){
	.gv-bookmarklet{
		max-height: 95%;
	}
}
@media screen and (max-width: 600px) and (min-height: 400px){
	.gv-bookmarklet{
		width: 92% !important;
	}
}
@media screen and (max-width: 600px) and (max-height: 400px){
	.gv-bookmarklet{
		width: 90% !important;
	}
}
@media screen and (max-width: 600px) {
	.gv-bookmarklet{
		overflow-y: auto;
		max-height: 90%;
	}
	.gv-bookmarklet .bookmarklet-header, .gv-bookmarklet .bookmarklet-body, .gv-bookmarklet .bookmarklet-buttons-group{
		width: 100%;
	}
	.gv-bookmarklet .bookmarklet-form-group{
		width: 270px !important;
	}
}
@media screen and (max-width: 568px) {
	.gv-bookmarklet .bookmarklet-form-group{
		width: 210px !important;
	}
	.gv-bookmarklet .bookmarklet-right{
		width: 51%;
	}
	.gv-bookmarklet .bookmarklet-form-group,  .gv-bookmarklet .width296{
		width: 215px !important;
	}
	.gv-bookmarklet .bookmarklet-privacy{
		width: 120px;
	}
}
@media screen and (max-width: 480px) {
	.gv-bookmarklet{
		width: 88% !important;
	}
	.gv-bookmarklet .bookmarklet-form-group{
		width: 210px !important;
	}
	.gv-bookmarklet .bookmarklet-left{
		margin-left: 90px !important;
	}
	.gv-bookmarklet .bookmarklet-right{
		width: 315px;
	}
	.gv-bookmarklet .bookmarklet-form-group,  .gv-bookmarklet .width296{
		width: 215px !important;
	}
	.gv-bookmarklet .bookmarklet-privacy{
		width: 120px;
	}
}
@media screen and (max-width: 384px) and (max-height: 600px){
	.gv-bookmarklet{
		max-height: 95%;
	}
}
@media screen and (max-width: 384px) and (max-height: 568px){
	.gv-bookmarklet{
		max-height: 94%;
	}
}
@media screen and (max-width: 384px) {
	.gv-bookmarklet{
		width: 85% !important;
	}
	.gv-bookmarklet .bookmarklet-form-group{
		width: 210px !important;
	}
	.gv-bookmarklet .bookmarklet-left{
		margin-left: 18% !important;
	}
	.gv-bookmarklet .bookmarklet-right{
		float: right;
		width: 87%;
	}
	.gv-bookmarklet .bookmarklet-form-group,  .gv-bookmarklet .width296{
		width: 215px !important;
	}
	.gv-bookmarklet .close{
		margin: 10px 20px 0 0;
	}
	.gv-bookmarklet .bookmarklet-privacy{
		width: 120px;
	}
	.gv-bookmarklet .bookmarklet-header{
		height: 50px !important;
	}
}
@media screen and (max-width: 320px) and (max-height: 480px){
	.gv-bookmarklet{
		max-height: 92%;
	}
}
@media screen and (max-width: 320px) {
	.gv-bookmarklet{
		width: 82% !important;
	}
	.gv-bookmarklet .bookmarklet-right {
		width: 101%;
	}
	.gv-bookmarklet .bookmarklet-form-group{
		width: 210px !important;
	}
	.gv-bookmarklet .bookmarklet-left{
		margin-left: 10px !important;
	}
	.gv-bookmarklet .bookmarklet-form-group,  .gv-bookmarklet .width296{
		width: 215px !important;
	}
	.gv-bookmarklet .close{
		margin: 10px 20px 0 0;
	}
	.gv-bookmarklet .bookmarklet-buttons-group .bookmarklet-btn{
		margin-left: 60px;
	}
}