<?php for ($idx = 0; $idx < count($this->allfriends); $idx++) {
    if (($this->allfriends[$idx]['id'] != $_SESSION['user_id']) && ($this->allfriends[$idx]['type'] == 'following') && ($this->allfriends[$idx]['status'] != 2)) {
        ?>
        <article id="friend-<?php echo $this->allfriends[$idx]['id'];?>" class="portfolio-item pf-media pf-icons friend<?php
            $groups = array();
            foreach ($this->allfriends[$idx]['groups'] as $group) {
                $groups[$group->id] = $group->group_name;
            }
            echo ' ' . implode(' ', $groups);
            $linkToFriend = $this->server->securehttp . $this->server->apphost . '/wishlist/wishlist?friend_id=' . md5($this->allfriends[$idx]['id']);
        ?>">
            <div class="portfolio-image">
                <a href=<?php echo $linkToFriend; ?>>
                    <img src="<?php echo $this->allfriends[$idx]['profile_pic']?>" alt="Open Imagination">
                </a>
                <div class="portfolio-overlay">
                    <a href="<?php echo $this->allfriends[$idx]['profile_pic']?>" data-mfp-src="#unfollow-friend" data-lightbox="inline" 
                        class="left-icon" friend-id="<?php echo $this->allfriends[$idx]['id']?>" style="margin-left: -25px">
                        <i class="icon-line-minus open-unfollow-popup"  friend-id="<?php echo $this->allfriends[$idx]['id']; ?>"></i>
                    </a>
                </div>
            </div>
            <div class="portfolio-desc">
                <h3><a href="<?php echo $linkToFriend; ?>"><?php echo  $this->allfriends[$idx]['name'];?></a></h3>
                <span class="status-<?php echo $this->allfriends[$idx]['id'];?>">
                    <?php
                    $showGroups = '';
                    foreach($groups as $groupId => $groupName) {
                        $showGroups .= '<span class="group-'.$groupId.'"> '.$groupName.'</span>, ';
                    }
                    if ($showGroups != '') { echo substr($showGroups, 0, -9).'</span>'; }?>
                </span>
            </div>
        </article>
<?php   }
    } ?>
<?php
if(!empty($this->friendlist))
{
    for($i=0;$i<count($this->friendlist);$i++)
    {
        if(($this->friendlist[$i]['insite'] != 'Y') || ($this->twitterFriend)):?>
            <article class="portfolio-item pf-media pf-icons friend">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="<?php echo $this->friendlist[$i]['pic']?>" alt="Open Imagination">
                    </a>
                    <div class="portfolio-overlay">
                        <a href="<?php echo $this->friendlist[$i]['pic']?>" class="left-icon" social-id="<?php echo $this->friendlist[$i]['fbid']?>" style="margin-left: -25px">
                            <i class="icon-line-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="portfolio-desc">
                    <h3><a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo md5($this->allfriends[$idx]['id']); ?>"><?php echo  $this->friendlist[$i]['name'];?></a></h3>
                    <span></span>
                </div>
            </article>
        <?php endif;
    }//for
}?>

