<li <?php if(empty($this->groupInfo)) echo 'class="activeFilter"' ?>><a href="#" data-filter="*">Show All</a></li>
<?php
foreach($this->groups as $group):
    $name = $group->group_name;
    if(!empty($name)): ?>
        <li <?php if(!empty($this->groupInfo) && ($this->groupInfo->id == $group->id)) echo 'class="activeFilter"' ?>>
            <a href="#" data-filter=".<?php echo ltrim($name);?>" group-description="<?php echo ltrim($group->description);?>" group-code="<?php echo md5($group->id);?>" group-id="<?php echo $group->id;?>" >
                <?php echo $name;?>
            </a>
        </li>
        <?php
    endif;
endforeach;
foreach($this->GroupIBelong as $group):
    $name = $group->group_name;
    if(!empty($name)): ?>
        <li <?php if(!empty($this->groupInfo) && ($this->groupInfo->id == $group->id)) echo 'class="activeFilter"' ?>>
            <a href="#" data-filter=".<?php echo ltrim($name);?>" group-description="<?php echo ltrim($group->description);?>" group-code="<?php echo md5($group->id);?>" group-id="<?php echo $group->id;?>" >
                <?php echo $name;?>
            </a>
        </li>
        <?php
    endif;
endforeach; ?>