<!-- Page Title
		============================================= -->
<script src="https://apis.google.com/js/client.js"></script>
<script>
    function googleAuth() {
        var config = {
            'client_id': '<?php echo $this->server->google_client_id;?>',
            'scope': 'https://www.google.com/m8/feeds'
        };
        gapi.auth.authorize(config, function() {
            fetch(gapi.auth.getToken());

        });
    }

    function fetch(token) {
        $.ajax({
            url: "https://www.google.com/m8/feeds/contacts/default/full?access_token=" + token.access_token + "&alt=json",
            dataType: "jsonp",
            success:function(data) {
                $('#invite-gmail').removeClass('hidden');
                data.feed.entry.forEach(function(contact) {
                    addFriendForm(contact.title.$t, contact.gd$email[0].address, contact.link[0].href+'?access_token='+token.access_token);
                });
                $('#invite-friend-form').hide();
            }
        });
    }

    function addFriendForm(name, email, image) {
        var friendTemplate = $('.inviteFriendTemplate').clone();
        $('#invite-gmail').append(friendTemplate);
        var template = '.inviteFriendTemplate';
        $(template + ' .friend-name').html((name != '') ? name : email);
        $(template + ' .email_id').val(email);
        $(template + ' img')
            .on('error', function() { 
                $(this).parent().append('<i class="fa fa-user fa-3x" aria-hidden="true"></i>');
                $(this).remove();
            })
            .attr("src", image)
        ;
        $(friendTemplate).removeClass('inviteFriendTemplate hidden').addClass('invite-friend-form');
    }
</script>
<section id="page-title">

    <div class="container clearfix">
        <h1>Friends</h1>
        <span>Invite your friends to join Giftvise, so you can always get them the right gifts!		</span>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Portfolio Filter
            ============================================= -->
            <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">
                <?php echo $this->render("friends/groups.phtml"); ?>
            </ul><!-- #portfolio-filter end -->

            <div id="friends-modals" class="fright">
                <a href="#group-create" data-lightbox="inline" class="button button-small button-dark button-rounded"><i class="fa fa-plus"></i></a>
                <a href="#group-delete" data-lightbox="inline" class="button button-small button-dark button-rounded"><i class="fa fa-trash-o"></i></a>
                <a href="#invite-friends" data-lightbox="inline" class="button button-small button-dark button-rounded"><i class="fa fa-envelope-o"></i></a>
                <a href="#" id="open-invite-friends-results" class="hidden"></a>
            </div>


            <div class="clear"></div>

            <div id="group-info" class="well <?php if(empty($this->groupInfo)) echo 'hidden';?>">
                <span class="group-description"></span><?php echo $this->groupInfo->description?><br>
            </div>

            <div class="col_full">
                <form id="search-friends" method="get">
                    <input type="text" name="search" class="typeahead sm-form-control" value="" placeholder="Search for a friend (type &amp; hit enter..)">
                </form>
            </div>

            <!-- Modal for Creating a Group
            ================================= -->
            <!-- Modal for group create -->
            <div class="modal1 mfp-hide" id="group-create">
                <div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
                    <div class="nobottommargin" style="padding: 20px;">
                        <h3 style="color:rgb(200,0,0); margin-bottom:0px; text-align: center">Create a Group</h3>
                        <h4 style="text-align: center;">Easily share wishlist with the entire group</h4>
                        <div class="divider divider-short divider-rounded divider-center nobottommargin"><i class="icon-pencil"></i></div>
                    </div>
                    <form id="save-group-form" action="#" class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
                        <div class="col_one_third divcenter">
                            <label for="group-name" class="capitalize t600">Group Name</label>
                            <input type="text" id="group_name" name="group_name" value="" class="sm-form-control" />
                        </div>
                        <div class="col_two_third divcenter">
                            <label for="group-description" class="capitalize t600">Description</label>
                            <textarea id="description" name="description" value="" class="sm-form-control" /></textarea>
                        </div>
                        <div class="divcenter bottommargin-sm">
                            <button type="submit" class="button button-rounded button-small button-dark nomargin" value="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal for unfollow friend -->
            <div class="modal1 mfp-hide" id="unfollow-friend">
                <div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
                    <div class="nobottommargin" style="padding: 20px;">
                        <h4 style="text-align: center;">Do you want to unfollow this friend?</h4>
                    </div>
                    <div class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
                        <div class="divcenter bottommargin-sm">
                            <button id="unfollow-yes" class="button button-rounded button-small button-dark nomargin">Yes</button>
                            <button class="button button-rounded button-small button-dark nomargin cancel-action">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for delete friend from group -->
            <div class="modal1 mfp-hide" id="delete-friend-group-modal">
                <div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
                    <div class="nobottommargin" style="padding: 20px;">
                        <h4 style="text-align: center;">Do you want to remove friend from this group?</h4>
                    </div>
                    <div class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
                        <div class="divcenter bottommargin-sm">
                            <button id="delete-friend-group-yes" class="button button-rounded button-small button-dark nomargin">Yes</button>
                            <button class="button button-rounded button-small button-dark nomargin cancel-action">No</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modal for Deleting a Group
            ================================= -->
            <!-- Modal for group create -->
            <div class="modal1 mfp-hide" id="group-delete">
                <div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
                    <div class="nobottommargin" style="padding: 20px;">
                        <h4 style="text-align: center;">Do you want to delete this group?</h4>
                    </div>
                    <div class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
                        <div class="divcenter bottommargin-sm">
                            <button id="delete-group-btn" class="button button-rounded button-small button-dark nomargin">Yes</button>
                            <button class="button button-rounded button-small button-dark nomargin cancel-action">No</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modal for invite friends -->
            <div class="modal1 mfp-hide" id="invite-friends">
                <div class="block divcenter" style="background-color: #FFF; max-width:400px;">
                    <div class="nobottommargin" style="padding: 20px;">
                        <h3 style="color:rgb(200,0,0); margin-bottom:0px; text-align: center">Invite Friends</h3>
                        <h4 style="text-align: center;">Know what to gift your friends!</h4>
                        <div class="divider divider-short divider-rounded divider-center nobottommargin"><i class="icon-envelope"></i></div>
                    </div>
                    <form id="invite-friend-form" action="#" class="clearfix" style="max-width: 400px; text-align: center;">
                        <div class="col_two_third divcenter">
                            <label for="friends-email" class="capitalize t600">Enter Friend's Email</label>
                            <input type="email" id="email_id" name="email_id" value="" class="sm-form-control" />
                            <input type="hidden" name="group" value="" />
                        </div>
                        <div class="divcenter bottommargin-sm">
                            <button id="invite-friend" type="submit" class="button button-rounded button-small button-dark nomargin" value="submit">Invite</button>
                        </div>
                    </form>
                    <div id="invite-gmail" class="hidden"></div>
                    <div class="divider divider-short divider-rounded divider-center"><i class="icon-share"></i></div>
                    <div class="footer">
                        <div class="col_half">
                            <a id="invite-fb" href="#" class="social-icon si-dark si-small si-facebook fright">
                                <i class="icon-google"></i>
                                <i class="icon-google"></i>
                            </a>
                        </div>
                        <div class="col_half col_last">
                            <a id="invite-twitter" href="<?php echo  $this->server->securehttp.$this->server->apphost;?>/friends/twiterinvite" class="social-icon si-dark si-small si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- Modal for unfollow friend -->
            <div class="modal1 mfp-hide" id="invite-friends-result">
                <div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
                    <div class="nobottommargin" style="padding: 20px;">
                        <h4 id="invitation-result-text" style="text-align: center;">Invitation sent successfuly!</h4>
                    </div>
                    <div class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
                        <div class="divcenter bottommargin-sm">
                            <button class="button button-rounded button-small button-dark nomargin">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <article class="portfolio-item pf-illustrations friendTemplate hidden">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="#" alt="Locked Steel Gate">
                    </a>
                    <div class="portfolio-overlay">
                        <a href="#" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-desc">
                    <h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
                    <span class="status"></span>
                </div>
            </article>

            <form action="#" class="inviteFriendTemplate clearfix hidden" style="max-width: 400px; text-align: center;">
                <div class="col_two_third col_last">
                    <div class="friend-image">
			<img src="#" alt="" class="pull-left"/>
                    <!--
                        <img src="<?php echo $this->server->securehttp.$this->server->apphost;?>/images/userpics/top-img.png" alt="" class="pull-left"/>
		     -->
                    </div>
                    <div class="friend-name" class="capitalize t600"></div>
                    <input type="hidden" class="email_id" name="email_id" value="" class="sm-form-control" />
                    <input type="hidden" name="group" value="" />
                </div>
                <div class="col_one_third col_last bottommargin-sm">
                    <button type="submit" class="button button-rounded button-small button-dark nomargin" value="submit">Invite</button>
                </div>
            </form>

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio grid-container portfolio-6 clearfix">

                <?php if ($this->more_items || 1 ) { echo $this->render("friends/friendslist.phtml");} ?>

            </div><!-- #portfolio end -->

        </div>

    </div>

    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/friends.js"></script>
    <!--<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/google-contacts.js"></script>
     -->
</section><!-- #content end -->
