                                   <?php  foreach(range(0, (count($this->users)-1)) as $n): ?>
						<article class="portfolio-item pf-media pf-icons products-grid" id="products-grid" curatePageType="<?php echo $this->curatePageType; ?>">
							<div class="portfolio-image">
                                                  <a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo md5($this->users[$n]->user_id); ?>">
                                                  <img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?php echo $this->users[$n]->profile_pic; ?>" alt="Open Imagination">
                                                  </a>
								<div class="portfolio-overlay">
       <?php if (0) { ?>
								<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-minus"></i></a> 		
   <?php } else { ?>		
<a href="#" class="left-icon wishlist-add" style="margin-left: -55px" data-lightbox="image" user-id="<?php echo $this->users[$n]->user_id; ?>" item-id="0"><i class="icon-line-plus"></i></a> 
   <?php }  ?>					<a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo md5($this->users[$n]->user_id); ?>" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href=""><?php echo $this->users[$n]->first_name; echo " ";echo $this->users[$n]->last_name; ?></a></h3>
								<span><a href="#">profile_views: <?php echo $this->users[$n]->profile_views;?></a>
                                                                 <a href="#">Login type: <?php if($this->users[$n]->twitter_id) echo "twitter"; else if($this->users[$n]->facebook_id) echo "Facebook"; else echo "manual"; ?></a></span>
							</div>

 <?php if ($this->curate == 1) { ?>
                            <!-- Curate New products -->
<div class="checkbox">
                          <?php if ($this->curatePageType == 1) { ?>
<!--
                                <label>
                                    <input type="checkbox" id="product-curated" product-id="<?php echo $this->users[$n]->id;?>" user-id="<?php echo $_SESSION['user_id'];?>">Curate
                                </label>
-->
                                <label>
                                    <input type="checkbox" id="product-featured" product-id="<?php echo $this->users[$n]->id;?>" user-id="<?php echo $_SESSION['user_id'];?>">Feature
                                </label>
                           <?php } else { ?>
                                <label>
                                    <input type="checkbox" id=<?php if($this->curatePageType == 2) echo "product-curated "; else echo "product-featured "; echo "checked";?> product-id="<?php echo $this->users[$n]->id;?>" user-id="<?php echo $_SESSION['user_id'];?>"><?php if($this->curatePageType == 2) echo "Curate"; else echo "Feature"; ?>
                                </label>
                           <?php } ?>
                                <label class="pull-right">
                                    <input type="checkbox" id="product-ignored" product-id="<?php echo $this->users[$n]->id;?>" user-id="<?php echo $_SESSION['user_id'];?>">Ignore
                                </label>

                            <!-- END curate new products -->
                        <?php
                            }
                        ?>
                       </div>
						</article>    
                                     <?php endforeach; ?>

