<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="postcontent nobottommargin">

                <div class="col_full bottommargin-sm clearfix">

                    <div class="fancy-title title-border">
                        <h3>Featured Category</h3>
                    </div>
   <?php foreach(range(0, 2) as $n): ?>
	    <div class="col_one_third <?php if ($n == 2) echo "col_last"; ?>">
		<div class="ipost clearfix">
		    <div class="entry-image">
			<a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/products/productdetail?pid=<?php echo $this->items[$n]->id; ?>"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/productimg/<?php echo $this->items[$n]->image;?>"  alt="Open Imagination"></a>
		    </div>
		    <div class="entry-title">
			<h3><a href="blog-single.html"><?php echo $this->items[$n]->item_name; ?></a></h3>
		    </div>
		    <ul class="entry-meta clearfix">
			<li><i class="icon-calendar3"></i> 9th Sep 2014</li>
			<li><a href="blog-single.html#comments"><i class="icon-comments"></i><?php echo $this->extval[$n]['comment'];?></a></li>
		    </ul>
		    <div class="entry-content">
			<p><?php echo $this->items[$n]->description; ?></p>
		    </div>
		</div>
	    </div>
    <?php endforeach; ?>

<!--
	    <div class="col_one_third">
		<div class="ipost clearfix">
		    <div class="entry-image">
			<a href="#"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/magazine/thumb/16.jpg" alt="Image"></a>
		    </div>
		    <div class="entry-title">
			<h3><a href="blog-single.html">Halliburton gets boost from rebound in North America drilling</a></h3>
		    </div>
		    <ul class="entry-meta clearfix">
			<li><i class="icon-calendar3"></i> 23rd Aug 2014</li>
			<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 33</a></li>
		    </ul>
		    <div class="entry-content">
			<p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi?</p>
		    </div>
		</div>
	    </div>

	    <div class="col_one_third col_last">
		<div class="ipost clearfix">
		    <div class="entry-image">
			<a href="#"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/magazine/thumb/13.jpg" alt="Image"></a>
		    </div>
		    <div class="entry-title">
			<h3><a href="blog-single.html">China sends spy ship off Hawaii during U.S.-led drills brews</a></h3>
		    </div>
		    <ul class="entry-meta clearfix">
			<li><i class="icon-calendar3"></i> 11th Feb 2014</li>
			<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
		    </ul>
		    <div class="entry-content">
			<p>Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum.</p>
		    </div>
		</div>
	    </div>
-->
	</div>


	<div class="col_full bottommargin-sm clearfix">

	    <div class="fancy-title title-border">
		<h3>Featured Curators</h3>
	    </div>
	    <ul class="clients-grid grid-5 nobottommargin clearfix">
              <?php $n = 50; $i = 1; while($i <= 10 ) { if ($this->featured_curators[$n]->profile_pic != "default-profile-pic.png" && $this->featured_curators[$n]->profile_pic != '') { ?>
		<li><a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo md5($this->featured_curators[$n]->user_id); ?>" data-animate="fadeIn"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?php echo $this->featured_curators[$n]->profile_pic; ?>" height="110" width="150" alt="<?php echo $this->featured_curators[$n]->first_name; ?>"></a></li>
               <?php $i++; } $n++;} ?>
<!--
		<li><a href="http://logofury.com" data-animate="fadeIn" data-delay="100"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/2.png" alt="Clients"></a></li>
		<li><a href="http://logofaves.com/2014/03/grabbt/" data-animate="fadeIn" data-delay="200"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/3.png" alt="Clients"></a></li>
		<li><a href="http://logofaves.com/2014/01/ladera-granola/" data-animate="fadeIn" data-delay="300"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/4.png" alt="Clients"></a></li>
		<li><a href="http://logofaves.com/2014/02/hershel-farms/" data-animate="fadeIn" data-delay="400"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/5.png" alt="Clients"></a></li>
		<li><a href="http://logofury.com/logo/food-fight-radio.html" data-animate="fadeIn" data-delay="500"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/6.png" alt="Clients"></a></li>
		<li><a href="http://logofury.com" data-animate="fadeIn" data-delay="600"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/7.png" alt="Clients"></a></li>
		<li><a href="http://logofury.com/logo/up-travel.html" data-animate="fadeIn" data-delay="700"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/8.png" alt="Clients"></a></li>
		<li><a href="http://logofury.com/logo/caffi-bardi.html" data-animate="fadeIn" data-delay="800"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/9.png" alt="Clients"></a></li>
		<li><a href="http://logofury.com/logo/bignix-design.html" data-animate="fadeIn" data-delay="900"><img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/clients/10.png" alt="Clients"></a></li>
-->
	    </ul>

	</div>

    </div>
    <!--- end new entry -->
    <div class="sidebar nobottommargin col_last">

	<div class="sidebar-widgets-wrap">

	    <div class="widget widget_links nobottommargin clearfix">

		<h4>Top Categories</h4>
		<div class="col_half nobottommargin">
		    <ul>
			<li><a href="#">World</a></li>
			<li><a href="#">Technology</a></li>
			<li><a href="#">Entertainment</a></li>
			<li><a href="#">Sports</a></li>
			<li><a href="#">Media</a></li>
		    </ul>
		</div>
		<div class="col_half col_last nobottommargin">
		    <ul>
			<li><a href="#">Lifestyle</a></li>
			<li><a href="#">Travel</a></li>
			<li><a href="#">Football</a></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">Photography</a></li>
		    </ul>
		</div>
	    </div>

	    <div id="tags" class="widget clearfix">

		<h4 class="highlight-me">Top Tags</h4>
		<div class="tagcloud">
		    <a href="#">general</a>
		    <a href="#">videos</a>
		    <a href="#">music</a>
		    <a href="#">media</a>
		    <a href="#">photography</a>
		    <a href="#">parallax</a>
		    <a href="#">ecommerce</a>
		    <a href="#">terms</a>
		    <a href="#">coupons</a>
		    <a href="#">modern</a>
		</div>

	    </div>

	    <div class="widget clearfix">
		<h4 class="highlight-me">Top Curators</h4>

		<div class="tabs nobottommargin clearfix" id="sidebar-tabs">

		    <div class="tab-container">

			<div class="tab-content clearfix" id="tabs-1">
			    <div id="recent-post-list-sidebar">

<?php $n = 60; $i = 1; while($i <= 5 ) { if ($this->featured_curators[$n]->profile_pic != "default-profile-pic.png" && $this->featured_curators[$n]->profile_pic != '') { ?>
				<div class="spost clearfix">
				    <div class="entry-image">
					<a href="#"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?php echo $this->featured_curators[$n]->profile_pic; ?>" alt="Image"></a>
				    </div>
				    <div class="entry-c">
					<div class="entry-title">
					    <h4><a href="#"><?php echo $this->featured_curators[$n]->first_name; echo " ";echo $this->featured_curators[$n]->last_name; ?></a></h4>
					</div>
					<ul class="entry-meta clearfix">
					    <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
					    <li><i class="icon-heart3 text-danger"></i> <?php $percent = 100 - ($i * 10); echo $percent; ?>%</li>
					</ul>
				    </div>
				</div>
         <?php $i++; } $n++;} ?>
<!--
				<div class="spost clearfix">
				    <div class="entry-image">
					<a href="#"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/magazine/small/movie/3.jpg" alt="Image"></a>
				    </div>
				    <div class="entry-c">
					<div class="entry-title">
					    <h4><a href="#">Curator 2</a></h4>
					</div>
					<ul class="entry-meta clearfix">
					    <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
					    <li><i class="icon-heart3 text-warning"></i> 54%</li>
					</ul>
				    </div>
				</div>

				<div class="spost clearfix">
				    <div class="entry-image">
					<a href="#"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/magazine/small/movie/4.jpg" alt="Image"></a>
				    </div>
				    <div class="entry-c">
					<div class="entry-title">
					    <h4><a href="#">Curator 3</a></h4>
					</div>
					<ul class="entry-meta clearfix">
					    <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
					    <li><i class="icon-heart3 text-warning"></i> 45%</li>
					</ul>
				    </div>
				</div>

				<div class="spost clearfix">
				    <div class="entry-image">
					<a href="#"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/magazine/small/movie/5.jpg" alt="Image"></a>
				    </div>
				    <div class="entry-c">
					<div class="entry-title">
					    <h4><a href="#">Curator 4</a></h4>
					</div>
					<ul class="entry-meta clearfix">
					    <li class="color"><i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
					    <li><i class="icon-heart3 text-default"></i> 20%</li>
					</ul>
				    </div>
				</div>

				<div class="spost clearfix">
				    <div class="entry-image">
					<a href="#"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/magazine/small/movie/6.jpg" alt="Image"></a>
				    </div>
				    <div class="entry-c">
					<div class="entry-title">
					    <h4><a href="#">Curator 5</a></h4>
					</div>
					<ul class="entry-meta clearfix">
					    <li class="color"><i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
					    <li><i class="icon-heart3 text-default"></i> 17%</li>
					</ul>
				    </div>
				</div>
-->
			    </div>
			</div>

		    </div>

		</div>

	    </div>

	</div>

    </div>

    <div class="clear"></div>
    <div class="fancy-title title-border topmargin">
	<h3>Top Products of the Week</h3>
    </div>

    <div id="related-portfolio" class="owl-carousel portfolio-carousel">

<?php foreach(range(0, (count($this->items)-1)) as $n): if ($this->extval[$n]['wished']) continue; ?>
        <div class="oc-item">
            <div class="iportfolio">
                <div class="portfolio-image">
                    <a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/products/productdetail?pid=<?php echo $this->items[$n]->id; ?>">
                  <img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/productimg/<?php echo $this->items[$n]->image;?>" alt="Open Imagination">
                    </a>
                    <div class="portfolio-overlay">
                      <?php if (!$this->extval[$n]['wished']) { ?>
                        <a href="#" class="left-icon wishlist-add" data-lightbox="image" user-id="<?php echo $this->userDetail->user_id; ?>" item-id="<?php echo $this->items[$n]->id; ?>"><i class="icon-line-plus"></i></a>
                      <?php } else { ?>
                         <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>products/deletewishlist?item_id=<?php echo "users_id=";echo $this->items[$n]->id; ?>" class="left-icon" data-lightbox="image"><i class="icon-line-minus"></i></a>
                      <?php } ?>
                        <a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/products/productdetail?pid=<?php echo $this->items[$n]->id; ?>" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                    </div>
                </div>
                <div class="portfolio-desc">
                    <h3><a href="portfolio-single.html"><?php echo $this->items[$n]->item_name; ?></a></h3>
                    <span><a href="#">Media</a>, <a href="#"><?php echo $this->items[$n]->description; ?></a></span>
                </div>
            </div>
        </div>
<?php endforeach; ?>
<!--
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="portfolio-single.html">
                  <img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/productimg/<?php echo $this->items[0]->image;?>" alt="Open Imagination">
		    </a>
		    <div class="portfolio-overlay">
			<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
			<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single.html">Open Imagination</a></h3>
		    <span><a href="#">Media</a>, <a href="#">Icons</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="portfolio-single.html">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/2.jpg" alt="Locked Steel Gate">
		    </a>
		    <div class="portfolio-overlay">
			<a href="images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
			<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
		    <span><a href="#">Illustrations</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="#">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/3.jpg" alt="Mac Sunglasses">
		    </a>
		    <div class="portfolio-overlay">
			<a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
			<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
		    <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="#">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/4.jpg" alt="Mac Sunglasses">
		    </a>
		    <div class="portfolio-overlay" data-lightbox="gallery">
			<a href="images/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
			<a href="images/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
			<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
		    <span><a href="#"><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="portfolio-single.html">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/5.jpg" alt="Console Activity">
		    </a>
		    <div class="portfolio-overlay">
			<a href="images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
			<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single.html">Console Activity</a></h3>
		    <span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="portfolio-single-gallery.html">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/6.jpg" alt="Shake It!">
		    </a>
		    <div class="portfolio-overlay" data-lightbox="gallery">
			<a href="images/portfolio/full/6.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
			<a href="images/portfolio/full/6-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
			<a href="images/portfolio/full/6-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
			<a href="images/portfolio/full/6-3.jpg" class="hidden" data-lightbox="gallery-item"></a>
			<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
		    <span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="portfolio-single-video.html">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/7.jpg" alt="Backpack Contents">
		    </a>
		    <div class="portfolio-overlay">
			<a href="http://www.youtube.com/watch?v=kuceVNBTJio" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
			<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
		    <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="portfolio-single.html">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/8.jpg" alt="Sunset Bulb Glow">
		    </a>
		    <div class="portfolio-overlay">
			<a href="images/portfolio/full/8.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
			<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
		    <span><a href="#">Graphics</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="portfolio-single.html">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/9.jpg" alt="Bridge Side">
		    </a>
		    <div class="portfolio-overlay" data-lightbox="gallery">
			<a href="images/portfolio/full/9.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
			<a href="images/portfolio/full/9-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
			<a href="images/portfolio/full/9-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
			<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single.html">Bridge Side</a></h3>
		    <span><a href="#">Illustrations</a>, <a href="#">Icons</a></span>
		</div>
	    </div>
	</div>
	<div class="oc-item">
	    <div class="iportfolio">
		<div class="portfolio-image">
		    <a href="portfolio-single-video.html">
			<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/portfolio/4/10.jpg" alt="Study Table">
		    </a>
		    <div class="portfolio-overlay">
			<a href="http://vimeo.com/91973305" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
			<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
		    </div>
		</div>
		<div class="portfolio-desc">
		    <h3><a href="portfolio-single-video.html">Study Table</a></h3>
		    <span><a href="#">Graphics</a>, <a href="#">Media</a></span>
		</div>
	    </div>
	</div>
-->
    </div><!-- .portfolio-carousel end -->

    <script type="text/javascript">

	jQuery(document).ready(function($) {

	    var relatedPortfolio = $("#related-portfolio");

	    relatedPortfolio.owlCarousel({
		margin: 30,
		nav: false,
		dots:true,
		autoplay: true,
		autoplayHoverPause: true,
		responsive:{
		    0:{ items:1 },
		    480:{ items:2 },
		    768:{ items:3 },
		    992:{ items:4 }
		}
	    });

	});

    </script>

    <div class="fancy-title title-border topmargin">
	<h3>Upcoming Holidays &amp; Events</h3>
    </div>

    <div id="posts" class="events small-thumbs">

		<?php
		$length = count($this->events);
		$i=1;
		foreach ($this->events as $event):?>
			<div class="entry clearfix">
				<div class="entry-image">
					<a href="#">
						<img src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/default-event-pic.jpg" alt="Default Event Picture" />
						<div class="entry-date"><?php echo $event->time->format('d');?><span><?php echo strtoupper($event->time->format('M'));?></span></div>
					</a>
				</div>
				<div class="entry-c">
					<div class="entry-title">
						<h2><a href="#"><?php if($event->description == 'holiday') { ?>
									<span class="t-tip" title="<?php echo $event->title ?>">&nbsp;&nbsp;&nbsp;<?php echo $event->title ?> </span>
								<?php } else { ?>
									<a id="edit-event<?php echo $event->id;?>" href="/modals/modaleditevent?id=<?php echo $event->id;?>" data-target="#modal" data-toggle="modal"><?php echo $event->title ?><br />
										<small><?php echo $event->location;  ?></small></a>
								<?php } ?></a></h2>
					</div>
					<ul class="entry-meta clearfix">
						<li><span class="label label-warning">Private</span></li>
						<li><a href="#"><i class="icon-time"></i> <?php echo $event->event_time;  ?></a></li>
						<li><a href="#"><i class="icon-map-marker2"></i> <?php echo $event->location;  ?></a></li>
					</ul>
					<div class="entry-content">
						<p><?php echo $event->description;  ?></p>
						<a href="#" class="btn btn-danger">Find Gifts</a>
					</div>
				</div>
			</div>
			<?php if($i<$length):
				
				$i++;?>
				<hr>
			<?php endif;
		endforeach ?>

		<?php if($length == 0): ?>
		<div class="row">
			<div class="center-align no-events">
				<b> No upcoming events</b>
			</div>
		</div>
<?php endif;?>

            </div>

        </div>

</section><!-- #content end -->
