<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<?php echo $this->render('/head.phtml') ?>
<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">

            <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/Teel_Bike.jpg') center center no-repeat; background-size: cover;"></div>

            <div class="section nobg full-screen nopadding nomargin">
                <div class="container vertical-middle divcenter clearfix">

                    <div class="panel panel-default divcenter noradius noborder" style="max-width: 360px; background-color: rgba(255,255,255,0.93);">
                        <div class="row center" style="padding-top: 20px;">
                            <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/">
                                <img class="landing-logo" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/logo.png" alt="Giftvise Logo">
                            </a>
                        </div>
                        <div class="panel-body" style="padding: 40px;">
                            <form id="forgot-process-form" name="login-form" class="nobottommargin" action="#" method="post">
                                <h3 style="text-align:Center">Forgot Password?</h3>
                                <div class="col_full">
                                    <label for="login-form-email" style="text-transform: capitalize;">Enter Your Email ID:</label>
                                    <input type="text" id="email" name="email" value="" class="form-control required email"/>
                                </div>
                                <div class="center">
                                    <button href="#" class="button button-3d button-red nomargin col_full" id="login-form-submit" name="login-form-submit" value="login">Reset Password</button><br>
                                    <span class="fcenter result-text">We'll send an email to the above address with information regarding your new password.</span>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Giftvise Inc.</small></div>

                </div>
            </div>

        </div>

    </section><!-- #content end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/forgot.js"></script>

</body>
</html>
