		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="postcontent nobottommargin">

						<div class="col_full bottommargin-sm clearfix">

							<div class="fancy-title title-border">
								<h3>Featured Theme</h3>
							</div>

   <?php foreach(range(0, 2) as $n): ?>
							<div class="col_one_third <?php if ($n == 2) echo " col_last"; ?>">
								<div class="ipost clearfix">
									<div class="entry-image">
										<a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/products/productdetail?pid=<?php echo $this->items[$n]->id; ?>"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/productimg/<?php echo $this->items[$n]->image;?>" alt="Image"></a>
									</div>
									<div class="entry-title">
										<h3><a href="blog-single.html"><?php echo $this->items[$n]->item_name; ?></a></h3>
									</div>
									<div class="entry-content product-curate-desc" product-id="<?php echo $this->items[$n]->id; ?>"> <?php if($this->userDetail->role == 2) { ?>
                                      	<a href="#" id='curated_data' style="color:black" class="bt-editable" data-type="textarea"data-placement="right" data-pk="1" data-title="Enter Description"><?php if($this->items[$n]->curated_description == '') {echo $this->items[$n]->description;} else { echo $this->items[$n]->curated_description; } ?></a> <?php } else { ?> <p> <?php if($this->items[$n]->curated_description == '') {echo $this->items[$n]->description;} else { echo $this->items[$n]->curated_description; } } ?> </p>
									</div>
								</div>
							</div>
 <?php endforeach; ?> 

						</div>
						<div class="col_full bottommargin-sm clearfix">

							<div class="fancy-title title-border">
								<h3>Featured Curators</h3>
							</div>
							<?php if($this->featured_curators != null) { foreach(range(0, count($this->featured_curators)) as $n): if($n <= 2) if (1 || ($this->featured_curators[$n]->profile_pic != "default-profile-pic.png" && $this->featured_curators[$n]->profile_pic != '')) { ?>
								<div class="col_one_third <?php if ($n == 2) echo " col_last"; ?>">
									<div class="ipost clearfix">
										<div class="entry-image">
											<a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo md5($this->featured_curators[$n]->user_id); ?>"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?php echo $this->featured_curators[$n]->profile_pic; ?>" height="300" width="400" alt="Image"></a>
										</div>
										<div class="entry-title">
											<h3><a href="blog-single.html"><?php echo $this->featured_curators[$n]->first_name; echo " ";echo $this->featured_curators[$n]->last_name; ?></a></h3>
										</div>
										<!--
                                                                            <ul class="entry-meta clearfix">
                                                                                <li><i class="icon-calendar3"></i> 9th Sep 2014</li>
                                                                            </ul>
                                        -->
										<div class="entry-content feature-curater-desc" user-id=<?php echo $this->featured_curators[$n]->user_id; ?>>
											<?php if($this->userDetail->role == 2) { ?> <a href="#" id='curated_data' style="color:black" class="bt-editable" data-type="textarea"data-placement="right" data-pk="1" data-title="Enter username"><?php if($this->featured_curators[$n]->curated_description == null) {
												if($this->featured_curators[$n]->about_me != '') {
													echo $this->featured_curators[$n]->about_me; } else { echo "add some description"; }
											} else { echo $this->featured_curators[$n]->curated_description; } ?></a><?php } else { ?>
												<p> <?php if($this->featured_curators[$n]->curated_description == null) {
														if($this->featured_curators[$n]->about_me != '') {
															echo $this->featured_curators[$n]->about_me; } else { }
													} else { echo $this->featured_curators[$n]->curated_description; } ?>
												</p> <?php } ?>
										</div>
									</div>
								</div>
							<?php } endforeach; ?>


						</div>

						<div id="posts" class="events small-thumbs">
							<div class="fancy-title title-border topmargin">
								<h3>Featured Events</h3>
							</div>
             <?php
                $length = count($this->events);
                $i=1;
			 	foreach ($this->events as $event): if($event->description == 'holiday') { if ($i > 2) break; $i++ ?>
							<div class="entry clearfix" style="height:60%;">
								<div class="entry-image" style="width:10%; height:15%;">
									<a href="#">
										<div class="entry-date" style=""><?php echo $event->time->format('d');?><span><?php echo strtoupper($event->time->format('M'));?></span></div>
									</a>
									<div class="entry-title curate-event-title" style="margin-left:112px" event-id=<?php echo $event->id; ?>>
                                                                                <h2><?php if($this->userDetail->role == 2) { ?><a href="#" event-id=<?php echo $event->id; ?> id='curated_data_event-title' style="color:black" class="bt-editable" data-type="text" data-placement="right" data-pk="1" data-title="Edit title"><?php echo $event->title ?></a>
                                                                                <?php } else { ?>
                                                                                        <a href="#"><?php echo $event->title ?></a>
                                                                                <?php }  ?>
                                                                        </h2>
                                                                        </div>
								</div>
								<div class="entry-c">
<!--
									<div class="entry-title curate-event-title" event-id=<?php echo $event->id; ?>>
										<h2><?php if($this->userDetail->role == 2) { ?><a href="#" event-id=<?php echo $event->id; ?> id='curated_data_event-title' style="color:black" class="bt-editable" data-type="text" data-placement="right" data-pk="1" data-title="Edit title"><?php echo $event->title ?></a>
										<?php } else { ?>
											<a href="#"><?php echo $event->title ?></a>
										<?php }  ?>
									</h2>
									</div> 
-->
<!--
									<ul class="entry-meta clearfix">
										<li><span class="label label-warning">Private</span></li>
										<li><a href="#"><i class="icon-time"></i> 11:00 - 19:00</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i><?php echo $event->location;  ?></a></li>
									</ul>
-->
									<div class="entry-content curate-event-desc" event-id=<?php echo $event->id; ?>>
										<?php if($this->userDetail->role == 2) { ?>
                                                                                   <p><a href="#" id='curated_data_event' style="color:black" class="bt-editable" data-type="text" data-placement="right" data-pk="1" data-title="Enter Description" style="width: 300px; height: 50px;"> <?php  if($event->e_curated_description == NULL) { echo $event->description; } else { echo $event->e_curated_description; } ?></a></p>
                                                                                 <?php } else { ?>
           									 <p><?php  if($event->e_curated_description == NULL) { echo $event->description; } else { echo $event->e_curated_description; } ?></p>
										 <?php }  ?>

										<a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=<?php echo $event->tags; ?>" id='find_gifts_btn' class="btn btn-danger">Find Gifts</a>
										<?php if($this->userDetail->role == 2) { ?>
										<span id="curated_event_tags" event-id=<?php echo $event->id; ?>>	<a href="#" id='event_tags' style="color:black" class="bt-editable" data-type="text" data-placement="top" data-pk="2" data-title="Enter Tags separated by |"> <?php  if($event->tags == '') { echo "Add tags"; } else { echo $event->tags; } ?></a></span>
										<?php }  ?>
									</div>
								</div>
							</div>
<?php } endforeach; }  ?>

						</div>
<!--- end new entry -->
					</div>
					<div class="sidebar nobottommargin col_last">

					<div class="sidebar-widgets-wrap">

						<div class="widget widget_links nobottommargin clearfix">

							<h4>Top Tags</h4>
							<div class="col_half nobottommargin">
								<ul>
									<?php foreach(range(0, count($this->topCategory)) as $n): if ($n >= 5) break; ?>
										<li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=<?php echo trim($this->topCategory[$n]->name); ?>"><?php echo $this->topCategory[$n]->name; ?></a></li>
									<?php  endforeach;   ?>
								</ul>
							</div>
							<div class="col_half col_last nobottommargin">
								<ul>
									<?php foreach(range(5, count($this->topCategory)) as $n): if ($n >= 10) break;?>
										<li><a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/products/explore?item_type=<?php echo trim($this->topCategory[$n]->name);?>"><?php echo $this->topCategory[$n]->name; ?></a></li>
									<?php endforeach;   ?>
								</ul>
							</div>
						</div>

						<div class="widget clearfix">
								<h4 class="highlight-me">Top Curators</h4>

							<div class="nobottommargin clearfix" id="sidebar-tabs">

								<div class="tab-container">

									<div class="tab-content clearfix" id="tabs-1">
										<div id="recent-post-list-sidebar">

<?php if ($this->featured_curators_t != null) { $n = 0; $i = 1; while($i <= 7 ) { if ($this->featured_curators_t[$n]->profile_pic != "default-profile-pic.png" && $this->featured_curators_t[$n]->profile_pic != '') { ?>
												<div class="spost clearfix">
													<div class="entry-image">
														<a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo md5($this->featured_curators_t[$n]->user_id); ?>"><img class="image_fade" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/userpics/<?php echo $this->featured_curators_t[$n]->profile_pic; ?>" alt="Image"></a>
													</div>
													<div class="entry-c">
														<div class="entry-title">
															<h4><a href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist?friend_id=<?php echo md5($this->featured_curators_t[$n]->user_id); ?>"><?php echo $this->featured_curators_t[$n]->first_name; echo " ";echo $this->featured_curators_t[$n]->last_name; ?></a></h4>
														</div>
														<ul class="entry-meta clearfix">
														     <li><span title="wishlist count">wishlist items: <span style="color:black;"><?php echo $this->featured_curators_t[$n]->total_wishlist_items; ?></span></span></li> 
 															<!--
															<li class="color">
<?php $star = '<i class="icon-star3"></i>'; for ($j = 5; $j > $i; $j--) { echo $star; echo " "; }?> <i class="icon-star-half-full"></i></li>
-->
														</ul>
													</div>
												</div>
<?php }$i++; $n++;} } ?>

										</div>
									</div>

								</div>

							</div>

						</div>
						<div class="widget clearfix">

							<h4>Upcoming Events</h4>
						   <div class="nobottommargin clearfix" id="sidebar-tabs">
							<div id="post-list-footer" class="events">
 <?php $length = count($this->events);
                $i=1;
                foreach ($this->events as $event): if($event->description != 'holiday') { ?>

								<div class="spost clearfix">
									<div class="entry-image">
										<a href="#">
											<div class="entry-date" style=""><?php echo $event->time->format('d');?><span><?php echo strtoupper($event->time->format('M'));?></span></div>
										</a>
									</div>
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="#"><?php echo $event->title;?></a></h4>
										</div>
									</div>
								</div>
<?php } endforeach ?>
<!--
								<div class="spost clearfix">
									<div class="entry-image">
										<a href="#" class="nobg"><img src="images/events/thumbs/2.jpg" alt=""></a>
									</div>
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
										</div>
										<ul class="entry-meta">
											<li>10th July 2014</li>
										</ul>
									</div>
								</div>

								<div class="spost clearfix">
									<div class="entry-image">
										<a href="#" class="nobg"><img src="images/events/thumbs/3.jpg" alt=""></a>
									</div>
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
										</div>
										<ul class="entry-meta">
											<li>10th July 2014</li>
										</ul>
									</div>
								</div>
-->
							   </div>
							</div>

						</div>

					</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->
		<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/home.js<?php $cache_d = 0; if($cache_d){echo '?'; echo time(); } ?>"></script>

