<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<?php echo $this->render('/head.phtml') ?>

<?php echo $this->render('/social-login/facebook-script.phtml') ?>
<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">

            <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/Teel_Bike.jpg') center center no-repeat; background-size: cover;"></div>

            <div class="section nobg full-screen nopadding nomargin">
                <div class="container vertical-middle divcenter clearfix">

                    <div class="panel panel-default divcenter noradius noborder register-panel">
                        <div class="row center" style="padding-top: 20px;">
                            <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/">
                                <img class="landing-logo" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/logo.png" alt="Giftvise Logo">
                            </a>
                        </div>
                        <div class="panel-body" style="padding: 40px; padding-bottom: 10px; padding-top: 10px;">
                            <form id="sign-up-form" name="sign-up-form" class="nobottommargin">
                                <h3 class="landing-title">Sign up for an account</h3>
                                <div class="line line-sm"></div>
                                <div class="col_full">
                                    <label for="email">Email:</label>
                                    <input type="text" id="email_id" name="email_id" value="<?php echo $this->email;?>" class="form-control not-dark" />
                                </div>

                                <div class="col_full">
                                    <label for="login-form-password">Password:</label>
                                    <input type="password" id="password" name="password" value="" class="form-control not-dark" />
                                </div>
                                <input type="hidden" name="friend_id" value="<?php echo $this->friend_id;?>"/>
                                <input type="hidden" name="group_id" value="<?php echo $this->group_id;?>"/>

                                <div class="center">
                                    <button  class="button button-3d button-red nomargin col_full" id="sign-up-submit" name="login-form-submit" value="login">Sign up</button><br>
                                    <span class="fcenter">Creating an account means you're okay with Giftvise's <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/settings/policy">Terms of Service, Privacy Policy</a></span>
                                </div>
                            </form>

                            <div class="line line-sm"></div>

                            <div class="center">
                                <span class="fcenter">Already have an account?</span><br>
                                <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/" class="button button-3d button-teal nomargin">Login</a>
                            </div>

                        </div>
                    </div>

                    <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Giftvise Inc.</small></div>

                </div>
            </div>

        </div>

    </section><!-- #content end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/register.js"></script>

</body>
</html>
