<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<?php echo $this->render('/head.phtml') ?>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">

            <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/Negatives_on_Wood.jpg') center center no-repeat; background-size: cover;"></div>

            <div class="section nobg full-screen nopadding nomargin">
                <div class="container vertical-middle divcenter clearfix">
                    <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);" data-height-lg="400">                        
                        <div class="panel-body" style="padding: 20px 40px 40px 40px;">
                            <div class="row center">
                                <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/">
                                    <img class="landing-logo" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/logo.png" alt="Giftvise Logo">
                                </a>
                            </div>
                            <div class="heading-block nobottomborder" style="margin: 20px 0 20px 0; max-width:500px;">
                                <h3 class="landing-title">Almost there...</h3>
                            </div>
                            <form id="sign-up-step-two-form" role="form" style="max-width: 350px; ">
                                <input type="hidden" id="user_id" name="user_id" value="<?php echo $this->userDetails->user_id?>"/>
                                <label for="name">Full Name</label>
                                <input type="text" id="name" name="name" class="form-control not-dark required" value="<?php echo $this->userDetails->first_name . ' ' . $this->userDetails->last_name?>"><br>
                                <label for="dob">Date of Birth</label><br>
                                <div>
                                    <input type="text" id="dob" name="dob" class="required datetimepicker" value="<?php echo ($this->userDetails->birth_date != '1970-01-01' || $this->userDetails->birth_date != '0000-00-00') ? $this->userDetails->birth_date : date('Y/m/d');?>"/>
                                </div>
                                <div class="gender" style="float: right; margin-top: -25px;">
                                    <input type="radio" name="gender" value="M" style="margin-right: 10px; margin-left: 10px;" class="required" <?php if ($this->userDetails->gender == 'M') echo 'checked'; ?>>Male
                                    <input type="radio"name="gender" value = "F" style="margin-right: 10px; margin-left: 10px;" class="required" <?php if ($this->userDetails->gender == 'F') echo 'checked'; ?>>Female
                                </div>
                                <br>
                                <button  id="sign-up-step-two-submit" class="button button-rounded button-red noleftmargin" type="submit" style="margin-top:15px;">Continue</button>
                            </form>
                        </div>
                    </div>

                    <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Giftvise Inc.</small></div>

                </div>
            </div>

        </div>

    </section><!-- #content end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/register-step-two.js"></script>

</body>
</html>
