<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<?php echo $this->render('/head.phtml') ?>
<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">

            <div class="section life-event-section full-screen nopadding nomargin">
                <div class="container vertical-middle divcenter clearfix">
                    <div class="panel panel-default divcenter noradius noborder" style="max-width: 500px; background-color: rgba(255,255,255,0.93);">
                        <div class="row center" style="padding-top: 20px;">
                            <a href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/">
                                <img class="landing-logo" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/logo.png" alt="Giftvise Logo">
                            </a>
                        </div>
                        <div class="panel-body" style="padding: 40px;">
                            <div class="heading-block nobottomborder bottommargin-sm" style="max-width:500px;">
                                <h3 class="landing-title">Share life's events</h3>
                                <h5 style="text-align: center">We'll remind you and your friends of what's coming</h5>
                            </div>
                            <form id="sign-up-step-three-form" action="" role="form" method="post" style="max-width: 400px; text-align: center;">
                                <input type="hidden" id="user_id" name="user_id" value="<?php echo $this->userId?>"/>
                                <input type="hidden" id="events_count" name="events_count" value="3">
                                <i class="fa fa-birthday-cake fa-lg"></i>
                                <i class="fa fa-diamond fa-lg"></i>
                                <div class="row">
                                    <div class="line line-sm"></div>
                                    <div class="col-xs-5 col-xs-offset-1">
                                        <input type="text" id="event-1" name="event-1" class="event_name" value="Wedding Anniversary"/>
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="text" id="event-date-1" name="event-date-1" class="datetimepicker event_date"/>
                                    </div>
                                    <div class="col-xs-1">
                                        <input id="index-1" type="button" value="-" class="minus">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="line line-sm"></div>
                                    <div class="col-xs-5 col-xs-offset-1">
                                        <input type="text" id="event-2" name="event-2" class="event_name" value="Expected Graduation"/>
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="text" id="event-date-2" name="event-date-2" class="datetimepicker event_date"/>
                                    </div>
                                    <div class="col-xs-1">
                                        <input id="index-2" type="button" value="-" class="minus">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="line line-sm"></div>
                                    <div class="col-xs-5 col-xs-offset-1">
                                        <input type="text" id="event-3" name="event-3" class="event_name" placeholder="Enter event"/>
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="text" id="event-date-3" name="event-date-3" class="datetimepicker event_date"/>
                                    </div>
                                    <div class="col-xs-1">
                                        <input id="index-3" type="button" value="+" class="plus">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="line line-sm"></div>
                                </div>
                                <button id="step-inside" class="button button-rounded button-red noleftmargin" type="submit" style="margin-top:15px;">Step inside</button><br>
                                <a id="skip-link" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/login/home" style="text-decoration: underline;">Skip</a>
                            </form>
                        </div>
                    </div>

                    <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Giftvise Inc.</small></div>

                </div>
            </div>

        </div>

    </section><!-- #content end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/register-step-three.js"></script>

</body>
</html>
