<!-- Content
    ============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('/images/Tablet_on_Table.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">

    <div class="container clearfix">
        <h1>About Us</h1>
        <span>We love making gift giving fun and easier, one gift at a time.</span>
    </div>

</section><!-- #page-title end -->

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_half">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Why choose <span>Giftvise?</span></h4>
                </div>
                <p>
                    Gift giving is a personal and special experience. Giftvise was built with
                    the intention of making gift giving as simple as possible. Our free web
                    application comes packed with useful features that allow you to keep
                    track of what your friends and family are adding to their Wishlists, keep up
                    with the trends on our Explore page and look for specially curated gift ideas
                    for a multitude of events.
                </p>

            </div>

            <div class="col_half col_last">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Our <span>Mission</span></h4>
                </div>

                <p>
                    Gift giving is a personal and special experience. Giftvise was built with
                    the intention of making gift giving as simple as possible. Our free web
                    application comes packed with useful features that allow you to keep
                    track of what your friends and family are adding to their Wishlists, keep up
                    with the trends on our Explore page and look for specially curated gift ideas
                    for a multitude of events.
                </p>

            </div>

        </div>

        <div class="section bottommargin-sm">
            <div class="container clearfix">

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
                    <i class="i-plain i-xlarge divcenter icon-line2-magic-wand"></i>
                    <div class="counter counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>+</div>
                    <h5>Gifts added</h5>
                </div>

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-users"></i>
                    <div class="counter counter-lined"><span data-from="3000" data-to="15360" data-refresh-interval="100" data-speed="2500"></span>+</div>
                    <h5>Members</h5>
                </div>

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-calendar"></i>
                    <div class="counter counter-lined"><span data-from="10" data-to="408" data-refresh-interval="25" data-speed="3500"></span>+</div>
                    <h5>Holidays with gift ideas</h5>
                </div>

                <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-direction"></i>
                    <div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span></div>
                    <h5>Affiliates</h5>
                </div>

            </div>
        </div>

        <div class="heading-block center">
            <h2>Our Team</h2>
            <span>People passionate about bringing the best gifting experience for you.</span>
        </div>

        <div class="container clearfix">
            <div class="row">

                <div class="col-md-3 col-sm-6 bottommargin">

                    <div class="team">
                        <div class="team-image">
                            <img src="/images/team/adarsh-seetharam.jpg" alt="Adarsh Seetharam">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Adarsh Seetharam</h4><span>Co-founder</span></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 col-sm-6 bottommargin">

                    <div class="team">
                        <div class="team-image">
                            <img src="/images/team/2.jpg" alt="Steve Inacker">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Steve Inacker</h4><span>Co-Founder</span></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 col-sm-6 bottommargin">

                    <div class="team">
                        <div class="team-image">
                            <img src="/images/team/8.jpg" alt="Chikkegowda Chikke">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Chikkegowda Chikke</h4><span>Founding Member</span></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 col-sm-6 bottommargin">

                    <div class="team">
                        <div class="team-image">
                            <img src="/images/team/4.jpg" alt="Kishore Kasi">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Kishore Kasi</h4><span>Founding Member</span></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="section footer-stick">

            <h4 class="uppercase center">What our <span>members</span> are saying</h4>

            <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                <div class="flexslider">
                    <div class="slider-wrap">
                        <div class="slide">
                            <div class="testi-image">
                                <a href="#"><img src="/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                            </div>
                            <div class="testi-content">
                                <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                                <div class="testi-meta">
                                    Steve Jobs
                                    <span>Apple Inc.</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="testi-image">
                                <a href="#"><img src="/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                            </div>
                            <div class="testi-content">
                                <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                <div class="testi-meta">
                                    Collis Ta'eed
                                    <span>Envato Inc.</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="testi-image">
                                <a href="#"><img src="/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                            </div>
                            <div class="testi-content">
                                <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                                <div class="testi-meta">
                                    John Doe
                                    <span>XYZ Inc.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section><!-- #content end -->
