<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<?php echo $this->render('/head.phtml') ?>
<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <?php echo $this->render('/header.phtml');?>
    <!-- Page Title
            ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Account Settings</h1>
            <br>
            <h5>(Click to edit)</h5>
        </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <table class="table table-bordered table-striped" style="clear: both">
                    <tbody>
                    <tr>
                        <td width="35%">Registered Email</td>
                        <td width="65%">
                            <a href="#" class="bt-editable email" data-type="text"data-placement="right" data-pk="1" data-title="Enter username"><?php echo $this->userDetails->email_id;?></a>
                            <div class="email-error"></div>
                        </td>
                    </tr>
                    <?php if(empty($this->userDetails->facebook_id) && empty($this->userDetails->twitter_id)){?>
                    <tr>
                        <td>Password</td>
                        <td>
                            <a href="#" class="bt-editable password" data-type="password" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter new password">[hidden]</a>
                            <div class="password-error"></div>
                        </td>
                    </tr>
                    <?php }?>
                    <tr>
                        <td>Full Name</td>
                        <td>
                            <a href="#" class="bt-editable full-name" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your full name"><?php echo $this->userDetails->first_name.' '.$this->userDetails->last_name;?></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Sex</td>
                        <td>
                            <a href="#" class="bt-sex gender" data-type="select" data-pk="1" data-value="<?php echo $this->userDetails->gender ;?>" data-title="Sex"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td class="event">
                            <a href="#" class="bt-event dob" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your date of birth"><?php echo ($this->userDetails->birth_date != '1970-01-01' || $this->userDetails->birth_date != '0000-00-00') ? date('m/d/Y', strtotime($this->userDetails->birth_date)) : date('m/d/Y');?></a>
                        </td>
                    </tr>
                    <?php 
                        $index = 1;
                        foreach ($this->events as $event): 
                            if($event->description != 'holiday' && $event->description != 'Birthday' ) { ?>
                            <tr>
                                <td><?php echo $event->title;?></td>
                                <td class="event">
                                    <a href="#" class="bt-event event-date" event-id="<?php echo $event->id;?>"  event-index="<?php echo $index++;?>" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter event new date"><?php echo $event->time->format('m/d/Y');?></a>
                                </td>
                            </tr>
                    <?php   } 
                        endforeach ?>
                    </tbody>
                </table>
                <form id="account-settings-form">
                    <input class="email" type="hidden" name="email"/>
                    <input class="password" type="hidden" name="password"/>
                    <input class="full_name" type="hidden" name="full_name"/>
                    <input class="gender" type="hidden" name="gender"/>
                    <input class="dob" type="hidden" name="dob"/>
                    <?php
                        $index = 1;
                        foreach ($this->events as $event):
                            if($event->description != 'holiday' || $event->description != 'Birthday' ) { ?>
                                <input type="hidden" name="event-id-<?php echo $index;?>" value="<?php echo $event->id;?>"/>
                                <input class="event-date-<?php echo $index;?>" type="hidden" name="event-date-<?php echo $index++;?>"/>
                    <?php   } 
                        endforeach ?>
                    <input type="hidden" name="events_count" value="<?php echo --$index;?>"/>
                    <a id="save-btn" href="#" class="button button-red nomargin .col-md-1">Save</a>
                </form>
                <a href="#" id="open-update-account-result" class="hidden"></a>
                <!-- Modal for unfollow friend -->
                <div class="modal1 mfp-hide" id="update-account-result">
                    <div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
                        <div class="nobottommargin" style="padding: 20px;">
                            <h4 id="invitation-result-text" style="text-align: center;">Account settings updated successfuly!</h4>
                        </div>
                        <div class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
                            <div class="divcenter bottommargin-sm">
                                <button class="button button-rounded button-small button-dark nomargin ok-btn">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- #content end -->

</div><!-- #wrapper end -->
<?php echo $this->render('/footer.phtml');?>
<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/components/moment.js"></script>

<!-- select2 bootstrap -->
<script type="text/javascript" src="http://vitalets.github.io/x-editable/assets/select2/select2.js"></script>

<!-- Bootstrap Editable Plugin -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/components/bs-editable.js"></script>

<!-- Bootstrap Typeaheadjs Plugin -->
<script src="http://vitalets.github.io/x-editable/assets/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<script src="http://vitalets.github.io/x-editable/assets/x-editable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>

<!-- Date & Time Picker JS -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/datepicker.js"></script>
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/components/timepicker.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/account.js"></script>

</body>
</html>



