    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="col_half nobottommargin">

                    <h4>Wishlist <small>(4)</small></h4>

                    <div class="accordion accordion-border clearfix" data-state="closed">

                        <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>How do I add items to my Wishlist?</div>
                        <div class="acc_content clearfix">
                            <p>
                                There are a couple ways to add items to your wishlist.
                            </p>
                            <ol>
                                <li>To add items directly from merchant websites, you will need our Browser bookmark widget.
                                    On Your Computer, drag the Giftvise wishlist icon on the top toolbar (next to notifications) to your browser’s bookmarks bar.
                                    The Bookmark widget will appear as +GV on your browser’s bookmarks bar. Then, wherever you are on the web, click the +GV bookmark on the browser to add an item to your wishlist.
                                    On Your Mobile Device, first create a bookmark for Giftvise.com. Copy the text below and edit the bookmark, replacing the URL with the copied text.
                                    Then wherever you are on the web, click that bookmark to add an item to your wishlist.</li><br>
                                <li>From your Wishlist, you can add items manually by clicking the + option on the filter bar and filling in the details.</li><br>
                                <li>From anywhere on Giftvise, you can click the + sign on an item to add it to your own wishlist or event.</li>
                            </ol>
                        </div>

                        <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-question-sign"></i>How do I organize my wishlist?</div>
                        <div class="acc_content clearfix">
                            If you click on an item on your wishlist, you can add Tags to represent themes or events, e.g., christmas, hockey etc. You can then filter your list based on Tags.
                        </div>

                        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock3"></i>How do I control what products are public vs. private?</div>
                        <div class="acc_content clearfix">
                            <p>
                                You can select who sees a product that is on your wishlist by clicking on the product, selecting SHOW TO and setting the visibility to one of the following:
                            </p>
                            <ul>
                                <li><strong>Public</strong> – Make the item visible to the public without restrictions	</li>
                                <li><strong>Individual</strong> – Type the name of the individual who can view the item on your wishlist. Make sure that the individual is in your friends list.</li>
                                <li><strong>Private</strong> – Keep the product private and visible only to you</li>
                                <li><strong>Groups</strong> – Make the product visible to a selected group of individuals. If you don’t have any group setup, create one by clicking “CREATE GROUP” and adding individuals to the group.</li>
                            </ul>
                            <p>
                                On the Giftvise Bookmarklet – When adding an item from an external site, click the +GV link on the bookmarks bar. This will open the pop-up with the captured information on the product that you would like to add to your wishlist.
                                To keep this product private and visible only to you, select the “Keep Private” option on the Bookmarklet before clicking “Add”.
                            </p>
                        </div>
                    </div>

                    <h4 class="topmargin">Purchasing a gift <small>(5)</small></h4>

                    <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                        <div class="acctitle"><i class="acc-closed icon-download-alt"></i><i class="acc-open icon-download-alt"></i>How do I purchase a gift?</div>
                        <div class="acc_content clearfix">
                            Your Giftvise wishlist can include items from any merchant on the Internet (or not on the Internet!) so that you can wish for all the best things.
                            To purchase something on your list or someone else’s, click on the item and then click the Buy This Product button. This will take you to the merchant’s website.
                            After you’ve purchased the item, be sure to remove it from your wishlist so your friends don’t buy it for you too!
                        </div>

                        <div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Do you store my credit card info?</div>
                        <div class="acc_content clearfix">
                            Giftvise works on an affiliate model. Our goal is to help you discover and wish for gifts that you will love. When you find that unique item, you or the gift giver will
                            click through to the partner retailer's site to purchase the item. We do not seek, nor store any credit card information.
                        </div>

                    </div>

                </div>

                <div class="col_half nobottommargin col_last">

                    <h4>Bookmark Widget <small>(9)</small></h4>

                    <div class="accordion accordion-border clearfix" data-state="closed">

                        <div class="acctitle"><i class="acc-closed icon-picture"></i><i class="acc-open icon-picture"></i>What if i don't see my bookmark toolbar?</div>
                        <div class="acc_content clearfix">
                            On your browser, there should be an option to Show Bookmarks (or Favorites) bar. See specific instructions below for your browser.
                            <ul>
                                <li>
                                    Safari – Click on View - Show Favorites Bar
                                </li>
                                <li>
                                    <a href="https://support.google.com/chrome/answer/95745?hl=en">Chrome</a>
                                </li>
                                <li>
                                    <a href="http://windows.microsoft.com/en-us/windows7/show-or-hide-the-favorites-bar-in-internet-explorer">Internet Explorer</a>
                                </li>
                                <li>
                                    <a href="https://support.mozilla.org/en-US/kb/bookmarks-toolbar-display-favorite-websites">Firefox</a>
                                </li>
                                <li>
                                    iPad (Safari)
                                    <ul>
                                        <li>From the home screen, open Settings and tap on “Safari”</li>
                                        <li>Find “Always Show Bookmarks Bar” under General settings and flip to ON</li>
                                        <li>Return to Safari to find the bookmarks bar</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="acctitle"><i class="acc-closed icon-file3"></i><i class="acc-open icon-file3"></i>Can I add trademarked images to my wishlist?</div>
                        <div class="acc_content clearfix">TBD</div>

                    </div>

                    <h4 class="topmargin">Affiliates <small>(3)</small></h4>

                    <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                        <div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>How does the Giftvise affiliate program work?</div>
                        <div class="acc_content clearfix"></div>
                        <div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Tips for Increasing Your Referral Income</div>
                        <div class="acc_content clearfix"></div>
                        <div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Is there a list of participating affiliates?</div>
                        <div class="acc_content clearfix"></div>


                    </div>

                </div>

            </div>

        </div>

    </section><!-- #content end -->

