<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Giftvise, Inc. Privacy Statement</h1>
  </div>

</section><!-- #page-title end -->

<!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
          				<div class="container clearfix">
          				<p>
          					This Privacy Statement sets forth the information gathering, use, and dissemination practices of Giftvise, Inc.
          					("Giftvise") in connection with the World Wide Web site located at www.Giftvise.com (the "Site"). This Privacy
          					Statement addresses Giftvise's practices regarding information collected only directly through or from the Site
          					- it does not address or govern any information gathering, use, or dissemination practices related to information
          					collected other than directly through or from the Site, including, without limitation, from or via telephone,
          					facsimile, postal mail, personal delivery, or other offline means or media. Giftvise can be contacted by
          					e-mail at Info@Giftvise.com.
          				</p>

          				<h2>Information Collection</h2>
          				<p>
          					Giftvise collects and may track (1) the e-mail addresses of member visitors that communicate with Giftvise via e-mail,
          					(2) information knowingly provided by the visitor in online forms, registration forms, order forms, surveys, e-mail,
          					the "Contact Us" section of the Site, other inquiries visitors may make through the Site, and other online avenues
          					(including, but not limited to, information such as demographic, business profile, and personal profile data),
          					(3) the home server domain names, e-mail addresses, type of client computer, files downloaded, search engine used,
          					operating system, and type of Web browser of member visitors to the Site, and (4) aggregate and user-specific information
          					regarding which pages Site member visitors access. Giftvise web servers may seek to place a "cookie" (a small data file)
          					on your computer's hard drive which allows the server to identify the computer when it visits Giftvise again, in order to
          					track statistical information about navigation to, and throughout, certain areas of our Site, and navigation to Giftvise
          					promotions on third party Web sites. This cookie is not used to obtain your name or any personal data, and the information
          					that is tracked is used only for internal purposes. However, if you prefer not to accept cookies, you can set your browser
          					to reject them or to alert you before one is placed. When a member visitor performs a search within the Site, Giftvise may
          					record information identifying the member visitor or linking the member visitor to the search performed. Giftvise may also
          					record limited information for every member visit and search request, for example, in the form of a Web or Site log, and use
          					that information to provide member visitors with a better experience while visiting our Site, to solve technical problems with
          					the services available directly or indirectly in connection with the Site, and to calculate overall usage statistics.
          				</p>

          				<h2>Use of Personal Data Collected</h2>
          				<p>
          					Personal data collected by Giftvise may be used by Giftvise for many reasons, for example, for editorial and feedback purposes;
          					to improve your shopping experience; to communicate with you about products, promotions, services, and contests; to maintain
          					your account; for administration and review of the Site content; for product development; for content improvement; for fulfillment
          					of a requested transaction or recordkeeping; for marketing and promotional purposes; for a statistical analysis of users' behavior;
          					or to customize the content and layout of the Site. Aggregate data regarding member visitors' home servers may be used for internal
          					purposes, and individually identifying information, such as names, postal and e-mail addresses, phone numbers, and other personal
          					information which visitors voluntarily provide to Giftvise may be added to Giftvise's databases and used for future calls and mailings
          					regarding Site updates, new products and services, and upcoming events. Giftvise also may use member visitor data to contact the member
          					visitors regarding account status and changes to the Web Site Terms and Conditions, Online Agreement, Privacy Statement, and any other
          					policies or agreements relevant to member visitors. Additionally, Giftvise may send members electronic mail regarding billing, administrative,
          					or legal matters relating to the Site or services available or provided via the Site or notifying you of special offers or promotions.
          					In addition, you may use the Site's "Invite A Friend" feature which allows you to send an email inviting your friends to join the Site or
          					view a partner's site. In order to use the "Invite A Friend" feature Giftvise will obtain your friend's email address and any other necessary
          					information in order to send the request. Giftvise will store such information solely for the purpose of processing such requests.
          				</p>

          				<h2>Disclosure of Data to Third Parties</h2>
          				<p>
          					Giftvise.com will never sell, rent or share your personal information with any third parties, except when necessary to complete a
          					transaction that you requested, for example, product fulfillment companies, credit card processing companies and banks for marketing and
          					promotional purposes, or as described herein. We may disclose personal information when legally required, or in the good faith belief that
          					such action is necessary in order to comply with the law or legal process. Identifiable and non-identifiable user information and data may
          					be disclosed or distributed to another party with which Giftvise enters or reasonably may enter into a corporate transaction, such as, for
          					example, a merger, consolidation, acquisition, or asset purchase, or if determined by Giftvise in its sole judgment that such disclosure or
          					distribution is appropriate to protect the life, health, or property of Giftvise or any other person or entity. Personal information will
          					never be shared for profit. Giftvise also may disclose information about member visitors' Site usage and demographics to third parties on
          					an aggregate basis. Aggregate data regarding member visitors' home servers and individually identifying information, such as names, postal
          					and e-mail addresses, and phone numbers, may be disclosed or distributed: to another party with which Giftvise enters or reasonably may
          					enter into a corporate transaction, such as, for example, a merger, consolidation, acquisition, or asset purchase; or to a third party
          				  pursuant to a subpoena, court order, or other form of legal process; in response to a request by or on behalf of any local, state, federal,
          					or other government agency, department, or body, whether or not pursuant to a subpoena, court order, or other form of legal process; or if
          					determined by Giftvise in its sole judgment that such disclosure or distribution is appropriate to protect the life, health, or property of
          					Giftvise or any other person or entity. Giftvise is not responsible for, and will not be liable for, the conduct, actions, omissions, or
          					information handling or dissemination practices of any third party. This Site may contain links to other World Wide Web sites or advertisements
          					for or placed by third parties. Giftvise has no control over Web sites that we provide links to, and is not responsible for the privacy practices
          					of such Web sites, advertisers, or third parties, or for the content of such sites or advertisements. It is possible that these links or advertisements,
          					themselves, may be used by third parties or others to collect personal or other information about Site visitors. It is solely the visitors' obligation
          					to review and understand the privacy practices and policies of these other Web sites and of these advertisers and third parties.
          				</p>

          				<h2>Security Measures</h2>
          				<p>
          					Giftvise has implemented security features that are designed to prevent the unauthorized release of or access to personal information.
          					For example, all information personally identifying to our visitors is stored on a highly secure server. Once we receive personally-identifiable
          					information, we take steps to protect its security on our systems. In the event we request or transmit sensitive information, we use industry standard,
          					secure socket layer ("SSL") encryption.
          				</p>

          				<h2>Links to Other Sites and Financial Information</h2>
          				<p>
          					The Site may also contain links to other sites or advertisements for or placed by third parties, including sites that enable you to purchase products
          					and services, such as those of Giftvise's partners. If you access a third party site from a link on this Site, any information you disclose on that site
          					is not subject to this Privacy Statement. It is possible that these links may be used by third parties to collect personal or other information about you.
          					Giftvise is not responsible for the privacy practices of such Web sites, advertisers, or third parties or the content of such sites and it is your sole
          					obligation to review and understand the privacy practices and policies of these other web sites. Giftvise does not control these third parties' use of
          					cookies, collection of information, or how they manage such information. It is solely your obligation to review and understand the privacy practices and
          					policies of these other Web sites, advertisers and any third parties.

          					We do not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party
          					website, service, or content from Giftvise, you do so at your own risk and you agree that Giftvise will have no liability arising from your use of or access
          					to any third-party website, service, or content.
          				</p>

          				<h2>Privacy of Children</h2>
          				<p>
          					The Site is not intended for children under the age of 13. It does not knowingly collect personal information online from users in this age group.
          					All users must be at least 18 years of age in order to use the Site and to provide information to the Site.
          				</p>

          				<h2>Acceptable Content</h2>
          				<p>
          					The following content and postings are prohibited. Content that
          					- Is sexually explicit or pornographic, exploits or presents minors in a sexual way, or promotes adult sexual services
          					- Creates a genuine risk of physical injury or property damage, credibly threatens people or public safety, or organizes, encourages or celebrates harm
          					- Promotes self-harm, eating disorders or hard drug abuse
          					- Attacks, bullies or harasses nonpublic people
          					- Includes hate speech
          					- Is gratuitously violent or gory
          					- Infringes anyone's intellectual property, privacy or other rights
          					- Is fraudulent or deceptive
          					- Is someone else's personal information or requests a minor's personal information
          					- Contains any information or content that’s illegal
          				</p>
          				<h2>Termination</h2>
          				<p>
          					Giftvise may terminate or suspend your account at any time, with or without cause or notice to you.
          				</p>

          				<h2>Opt-Out Right</h2>
          				<p>
          					Except as necessary for Giftvise to provide the services, information, or products requested by a visitor, the visitor may opt out of having his or her
          					personally identifiable information, which has been voluntarily provided to Giftvise through an account registration, customer order, or other account
          					activity, prospectively retained by Giftvise, prospectively used by Giftvise for secondary purposes, or prospectively disclosed by Giftvise to third
          					parties by contacting Giftvise via postal mail or e-mail at the addresses set out above. (This does not apply to collection of the type of Web browser
          					of the visitor to the Site or to information provided or collected that does not meet the description in this Section.)
          				</p>

          				<h2>Access and Ability to Correct Personal Data</h2>
          				<p>
          					Upon a visitor's request via the Site, postal mail or e-mail, Giftvise will provide to the visitor a summary of any personally identifiable information
          					retained by Giftvise regarding the visitor, which information has been voluntarily provided by a visitor to Giftvise through an account registration,
          					customer order, or electronic news or information subscription. A visitor may modify, correct, change or update their personally identifiable information
          					by contacting Giftvise via the Site, postal mail or e-mail at the addresses or numbers above.
          				</p>

          				<h2>Changes to Privacy Policy</h2>
          				<p>
          					We may revise this online privacy policy at any time. Notice of any new or revised Privacy Statement, as well as the location of the new or revised statement,
          					will be posted on the Site for at least 20 days after the change. It is the obligation of users returning to the Site to learn of changes to the Privacy
          					Statement since their last visit. Any change to this Privacy Statement shall be effective as to any visitor who has visited the Site before the change was made.
          				</p>

          				<h2>Your California Privacy Rights</h2>
          				<p>
          					If you are a California resident, California Civil Code Section 1798.83 provides you with the right to request certain information regarding disclosure of
          					your personal information to third parties for direct marketing purposes, including a description of the categories of personal information disclosed.
          					In order to obtain such information, please email your request to Info@Giftvise.com or write us at the address above.
          				</p>

          				<h2>Contact</h2>
          				<p>
          					If you have any further questions about privacy or security, please contact us by sending an email to Info@Giftvise.com.
          					This Privacy Statement was last updated on March 14th, 2016.
          				</p>
          	</div>
        </div>

    </section><!-- #content end -->
