		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="divider divider-center"><i class="icon-circle"></i></div>

					<!-- Portfolio Filter
					============================================= -->
					<ul id="portfolio-filter" class="clearfix">

						<li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
						<li><a href="#" data-filter=".pf-icons">Icons</a></li>
						<li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
						<li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
						<li><a href="#" data-filter=".pf-media">Media</a></li>
						<li><a href="#" data-filter=".pf-graphics">Graphics</a></li>

					</ul><!-- #portfolio-filter end -->

					<div style ="float:right;">
						<a href="#" class="button button-mini button-dark button-rounded add-from-url" data-toggle="modal" data-target="#myModal2" >Add</a>
						<a href="#" class="button button-mini button-dark button-rounded">Share</a>
					</div>

				<div class="clear"></div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio-masonry clearfix">
        			
                                            <?php if ($this->more_items || 1 ) { echo $this->render("products/usersgrid.phtml");} ?> 
					</div><!-- #portfolio end -->

					<!-- Portfolio Script
					============================================= -->
					<script type="text/javascript">

						jQuery(window).load(function(){
       						       var $container = $('#portfolio');                                              
						       var $loadComplete = true;
       						       function LoadMoreProducts(beg) {

                                                            if ($loadComplete != true) {
              							return;
						            }
							    $loadComplete = false;

                                                            var $next_start = 0;
						            $('#portfolio').each(function(){
             						       $next_start = $(this).attr('next_start');
         						    });
                                                            $next_start= $(".portfolio-image > div").size();
   						            $page = 'curate';
                                                            $subpage = '';
							    var $curatetype = 1;
							    $curatetype = $('#products-grid').attr('curatePageType');
                                                            $.ajax({
                       						 cache:false,
                    					         url: '/products/productsgrid?ajax=1&next_start='+ $next_start +'&page='+ $page +'&append=true&subpage='+$subpage+'&curatetype='+$curatetype,
                    					         success: function(data){  
                              				       	       $container.isotope('insert', $(data), function(){
                                   			                  $container.imagesLoaded(function() {
                                                                             $container.isotope('reLayout');
                                                                          });
                                                                       });
 
							            $loadComplete = true;
							            /*
                            				    	    //$('#load-progress').hide();
                                			            //$('#load-progress img').hide();
                                                                    updateFilterByTagsList();
                                                                    initToggleTileHoverState();
                                                                    initToolTips();
                                                                    timeConvert();
                                                                    loadComplete = true;*/
                                                                }
                 				            }); 
                                                        }

							$container.isotope({ transitionDuration: '0.65s' });

							$('#portfolio-filter a').click(function(){ 
								$('#portfolio-filter li').removeClass('activeFilter');
								$(this).parent('li').addClass('activeFilter');
								var selector = $(this).attr('data-filter');
								$container.isotope({ filter: selector });
								return false;
							});

							$('#portfolio-shuffle').click(function(){
								$container.isotope('updateSortData').isotope({
									sortBy: 'random'
								});
							});

							$(window).resize(function() {
								$container.isotope('layout');
							});
                                                        $(window).scroll(function(){
                                                                 if ((window.innerHeight + window.scrollY) >= ((0.75) * document.body.offsetHeight)) {
                                                                        // you're at the bottom of the page
                                                                      LoadMoreProducts(false);
                                                                 }
                                                        });
                                                        $(document).on('change', "#user-featured", function(e){
							        e.preventDefault();
							        var $selected = (this.checked) ? '1' : '0';
							        var $product_id=$(this).attr("product-id");
							        var $user_id = $(this).attr("user-id");
							        var $data = 'feature_user_id=' + $product_id + "&selected=" + $selected + "&user_id=" + $user_id;
							        $.ajax({
							            type: "POST",
							            url: '/products/userfeatured',
							            data: $data,
 								    success: function(response) {
          								      if (response.success) {
      								              } else {
                 								   gv_alert("Could not be featured item", null);
       								              }
							            }
							        });
   							 });

						    $(document).on('change', "#product-ignored", function(e){
							        e.preventDefault();
       							        var $selected = (this.checked) ? '1' : '0';
     							        var $product_id=$(this).attr("product-id");
      							        var $user_id = $(this).attr("user-id");
        							var $data = 'product_id=' + $product_id + "&selected=" + $selected + "&user_id=" + $user_id;
        							$.ajax({
            								url: '/products/itemignored',
            								success: function(response) {
        							           if (response.success) {
            							           } else {
             							 	        alert("Could not be ignored item", null);
                							   }
            							 	}
        							});
    						    });

						});

					</script><!-- Portfolio Script End -->

				</div>

			</div>

		</section><!-- #content end -->
