		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="divider divider-center"><i class="icon-circle"></i></div>

					<!-- Portfolio Filter
					============================================= -->
					<ul id="portfolio-filter" class="clearfix">

<!--
						<li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
						<li><a href="#" data-filter=".pf-icons">Icons</a></li>
						<li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
						<li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
						<li><a href="#" data-filter=".pf-media">Media</a></li>
						<li><a href="#" data-filter=".pf-graphics">Graphics</a></li>
-->
						<?php echo $this->render("products/productstags.phtml"); ?>

					</ul><!-- #portfolio-filter end -->

				<div class="clear"></div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio-masonry clearfix" portfolio-type=<?php echo $this->productCategory; ?>>
        			
                                            <?php if ($this->more_items) { echo $this->render("products/productsgrid.phtml");} ?> 
					</div><!-- #portfolio end -->

				</div>

			</div>

		</section><!-- #content end -->
        <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/explore.js<?php $cache_d = 0; if($cache_d) { echo "?"; echo time(); } ?>"></script>

