<li <?php if (empty($this->productCategory)) { echo 'class="activeFilter"';  } ?>><a href="#" data-filter="*">Show All</a></li>
<?php
if (empty($this->productCategory)):
    for($i=0; $i < count($this->filtertags); $i++):
        $name = $this->filtertags[$i]->name;
        if(!empty($name)): ?>
            <li><a href="#" data-filter=".<?php echo ltrim($name);?>">
                    <?php echo $name;?>
                </a>
            </li>
            <?php
        endif;
    endfor;
else : ?>
<li class="activeFilter">
    <a href="#" data-filter=".<?php echo ltrim($this->productCategory);?>">
        <?php echo $this->productCategory;?>
    </a>
</li>
<?php endif;?>


