<?php if (count($this->items) > 0) {
    foreach (range(0, (count($this->items) - 1)) as $n): ?>
        <article class="portfolio-item <?php foreach (range(0, ($this->extval[$n]['n_tags']) - 1) as $tn) {
            $index = 'tags' . $tn;
            echo $this->extval[$n][$index];
            echo " ";
        } ?> products-grid" id="product-<?php echo $this->items[$n]->id; ?>" curatePageType="<?php echo $this->curatePageType; ?>"
                 filterEventsPage="<?php if (isset($this->filterEventsPage)) {
                     echo '1';
                 } else {
                     echo '0';
                 }; ?>" next_start="<?php echo $this->next_start; ?>">
            <div class="portfolio-image" id="<?php echo $this->items[$n]->id; ?>">
                <a href="<?php echo $this->server->securehttp . $this->server->apphost; ?>/products/productdetail?pgid=<?php echo $this->pgid; ?>&pid=<?php echo $this->items[$n]->id; ?>">
                    <img
                        src="<?php echo $this->server->securehttp . $this->server->apphost; ?>/images/productimg/<?php echo $this->items[$n]->image; ?>"
                        alt="Open Imagination">
                </a>

                <div class="portfolio-overlay">
                    <?php if ($this->extval[$n]['wished']) { ?>
                        <a href="#" class="left-icon <?php if ($this->pgid == 1) echo " wishlist-delete"; ?>"
                           style="margin-left: -55px" user-id="<?php echo $this->userDetail->user_id; ?>"
                           item-id="<?php echo $this->items[$n]->id; ?>"><i class="<?php if ($this->pgid != 1) {
                                echo "icon-ok";
                            } else {
                                echo "icon-line-minus";
                            } ?>"></i></a>
                    <?php } else { ?>
                        <a href="#" class="left-icon wishlist-add" style="margin-left: -55px"
                           user-id="<?php echo $this->userDetail->user_id; ?>"
                           item-id="<?php echo $this->items[$n]->id; ?>"><i class="icon-line-plus"></i></a>
                    <?php } ?> <a
                        href="<?php echo $this->server->securehttp . $this->server->apphost; ?>/products/productdetail?pgid=<?php echo $this->pgid; ?>&pid=<?php echo $this->items[$n]->id; ?>"
                        class="right-icon"><i class="icon-line-ellipsis"></i></a>
                </div>
            </div>
            <div class="portfolio-desc">
								<span><a href="#" class="diable_hlink"><?php echo $this->items[$n]->item_name; ?></a>
								<div class="product-price"><!--<del>$39.99</del> -->
                                    <ins><?php if (isset($this->items[$n]->item_price_currency) && trim($this->items[$n]->item_price_currency) != '') {
                                            if ($this->items[$n]->item_price_currency == 'INR') {
                                                $u_agent = $_SERVER['HTTP_USER_AGENT'];
                                                if (stristr($u_agent, "Safari")) echo "Rs"; else echo "&#x20B9;";
                                            } else  echo $this->items[$n]->item_price_currency;
                                        } else {
                                            echo "$";
                                        } ?><?php echo number_format($this->items[$n]->item_price, 2); ?></ins>
                                </div>

                                                           <!--     <a href="#"><?php echo $this->items[$n]->description; ?></a>--> </span>
            </div>

            <?php if ($this->curate == 1) { ?>
            <!-- Curate New products -->
            <div class="checkbox">
                <?php if ($this->curatePageType == 1) { ?>
                    <!--
                                <label>
                                    <input type="checkbox" id="product-curated" product-id="<?php echo $this->items[$n]->id; ?>" user-id="<?php echo $_SESSION['user_id']; ?>">Curate
                                </label>
-->
                    <label>
                        <input type="checkbox" id="product-featured" product-id="<?php echo $this->items[$n]->id; ?>"
                               user-id="<?php echo $_SESSION['user_id']; ?>">Feature
                    </label>
                <?php } else { ?>
                    <label>
                        <input type="checkbox"
                               id=<?php if ($this->curatePageType == 2) echo "product-curated "; else echo "product-featured ";
                               echo "checked"; ?> product-id="<?php echo $this->items[$n]->id; ?>"
                               user-id="<?php echo $_SESSION['user_id']; ?>"><?php if ($this->curatePageType == 2) echo "Curate"; else echo "Feature"; ?>
                    </label>
                <?php } ?>
                <label class="pull-right">
                    <input type="checkbox" id="product-ignored" product-id="<?php echo $this->items[$n]->id; ?>"
                           user-id="<?php echo $_SESSION['user_id']; ?>">Ignore
                </label>

                <!-- END curate new products -->
                <?php
                }
                ?>
        </article>
    <?php endforeach;
} ?>

