<?php
if ($this->productDetail->vendor_link != '') {
    $vlink = $this->productDetail->vendor_link;
} else {
    $vlink = '#';
}
?>

<!-- Modal for gift reserver for friend -->
<div class="modal1 mfp-hide" id="reserve-gift">
    <div class="block divcenter" style="background-color: #FFF; max-width:400px; max-height:600px;">
        <div class="nobottommargin" style="padding: 20px;">
            <h4 style="text-align: center;">Do you want to reserve this gift for your friend?</h4>
        </div>
        <div class="clearfix" style="max-width: 400px; max-height: 600px; text-align: center;">
            <div class="divcenter bottommargin-sm">
                <button href-lk="<?php echo $vlink ?>" item-id="<?php echo $this->productDetail->id; ?>"
                        receiver-id="<?php echo $this->rceiver; ?>" id="reserve-gift-yes"
                        class="button button-rounded button-small button-dark nomargin">Yes
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="reserve-gift-no" href-lk="<?php echo $vlink ?>"
                        class="button button-rounded button-small button-dark nomargin">No
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Content
 ============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Portfolio Single Image
            ============================================= -->
            <div class="col_two_third portfolio-single-image nobottommargin">
                <a href="#"><img  style="max-height:150%"
                        src="<?php echo $this->server->securehttp . $this->server->apphost; ?>/images/productimg/<?php echo $this->productDetail->image ?>"
                        alt="Image not available"></a>
            </div>
            <!-- .portfolio-single-image end -->

            <!-- Portfolio Single Content
            ============================================= -->
            <div class="col_one_third portfolio-single-content col_last nobottommargin">

                <!-- Portfolio Single - Description
                ============================================= -->
                <div class="fancy-title title-bottom-border">
                    <h2><?php echo $this->productDetail->item_name; ?></h2>
                </div>
                <p><?php echo $this->productDetail->description; ?></p>
                <!-- <p>$100</p> -->
                <div class="product-price"></del>
                    <ins><?php if (isset($this->productDetail->item_price_currency) && trim($this->productDetail->item_price_currency) != '') {
                            if ($this->productDetail->item_price_currency == 'INR') {
                                $u_agent = $_SERVER['HTTP_USER_AGENT'];
                                if (stristr($u_agent, "Safari")) echo "Rs"; else echo "&#x20B9;";
                            } else  echo $this->productDetail->item_price_currency;
                        } else {
                            echo "$";
                        } ?><?php echo number_format($this->productDetail->item_price, 2); ?></ins>
                </div>
                <br>

                <!-- Portfolio Single - Description End -->
                <?php
                if ($this->productDetail->vendor_link != '') {
                    $vlink = $this->productDetail->vendor_link;
                } else {
                    $vlink = '#';
                }
                ?>

                <a href="<?php echo $vlink; ?>"
                   class="button button-rounded button-reveal button-large button-red tright" 
                    <?php if ($this->productDetail->gift_state != 1 && $this->pgid == '2' && $this->followthis == 'Y') 
                        echo 'data-mfp-src="#reserve-gift" data-lightbox="inline"'; 
                    else 
                        echo "buy-btn" ?>
                   item-id="<?php echo $this->productDetail->id; ?>" receiver-id="<?php echo $this->rceiver; ?>"
                   event-id="" user-id="<?php echo $_SESSION['user_id']; ?>"
                   receiver-id="<?php echo $this->rceiver; ?>"><i class="icon-angle-right"></i><span>Buy</span></a>
                <?php if ($this->pgid == '1') { ?>    <a href="#"
                                                         class="button button-rounded button-reveal button-large button-white button-light tright"
                                                         id="keep-private"
                                                         item_id="<?php echo $this->productDetail->id; ?>"><i
                        id="private-icon"
                        class="<?php if (empty($this->showto) || ($this->showto == '0')) echo "icon-ok"; ?>"></i><span>Keep Private</span></a>
                <?php } else { ?>
                    <a href="#"
                       class="button button-rounded button-reveal button-large button-white button-light tright <?php if (!$this->itemwhished) echo " wishlist-add-d"; ?>"
                       item-id="<?php echo $this->productDetail->id; ?>"
                       user-id="<?php echo $_SESSION['user_id']; ?>"><i
                            class="<?php if ($this->itemwhished) echo "icon-ok"; else echo "icon-plus-sign"; ?>"
                            id="check-icon"></i><span>Add to Wishlist</span></a>
                <?php } ?>
                <div class="line"></div>


                <!-- Portfolio Single - Meta
                ============================================= -->
                <ul class="portfolio-meta">
                    <li>
                        <span><i class="icon-user"></i>Curated by:</span><span><a href="<?php echo $this->server->securehttp . $this->server->apphost; ?>/wishlist/wishlist?friend_id=<?php echo md5($this->addedbyuserID); ?>"><?php echo $this->addedby ?></a>
                        </span>
                    </li>
                    <li><span><i class="icon-calendar3"></i>Added on:</span> <span
                            created-time-stamp="<?php echo $this->timeAdded ?>"></span></li>
                    <?php if (count($this->taglist) || 1) { ?>
                        <li><span><i class="icon-link"></i>Tags:</span>
                            <span class="tag-list show-tags">
                                <?php
                                $tagNames = array();
                                for ($i = 0; $i < count($this->taglist); $i++) { ?>
                                    <a href="<?php echo $this->server->securehttp . $this->server->apphost; ?>/products/explore?item_type=<?php echo trim($this->taglist[$i]->name); ?>"
                                       tagname=".<?php echo trim($this->taglist[$i]->name); ?>"
                                       tag-id="<?php echo $this->taglist[$i]->id; ?>"><?php echo $this->taglist[$i]->name; ?></a>
                                    <?php
                                    array_push($tagNames, trim($this->taglist[$i]->name));
                                } ?>
                            </span>
                            <script> var tagNames = ["<?php echo implode('", "', $tagNames); ?>"]</script>
                            <span class="tags-edit<?php if (!$this->itemwhished) echo " hidden";?>">
                                <span>
                                    <a href="#" class="bt-tags" data-placement="left" data-type="select2" data-pk="1" data-title="Enter category" item-id="<?php echo $this->productDetail->id;?>">
                                        <?php echo implode(',', $tagNames); ?>
                                    </a>
                                </span>
                            </span>
                        </li>
                    <?php } ?>
                    <?php if ($this->productDetail->gift_state == 1 && $this->pgid == '2') { ?>
                        <li><span><i class="icon-ok"></i>Reserved on:</span> <span created-time-stamp="<?php echo $this->timeReserved; ?>"></span></li>
                    <?php } else { ?>
                         <li class="add-reserve-msg" hidden;></li>
                    <?php } ?>
                </ul>
                <!-- Portfolio Single - Meta End -->

                <!-- Portfolio Single - Share
                ============================================= -->
                <div class="input-group divcenter">
                    <form id="recommend-item-form">
                        <span class="input-group-addon"><i class="icon-email2"></i></span>
                        <input type="text" id="widget-subscribe-form-email" name="email"
                               class="form-control required email" placeholder="Enter Friend's Name or Email">
                        <input type="hidden" id="item_id" name="item_id"
                               value="<?php echo $this->productDetail->id; ?>">
								<span class="input-group-btn">
									<button class="btn btn-info" type="submit">Recommend</button>
								</span>
                    </form>
                </div>
                <!-- Portfolio Single - Share End -->

            </div>
            <!-- .portfolio-single-content end -->

            <div class="clear"></div>

            <div class="divider divider-center"><i class="icon-circle"></i></div>

            <!-- Related Portfolio Items
            ============================================= -->
            <h4>Related Products:</h4>

            <div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20"
                 data-nav="false" data-autoplay="5000" data-items-xxs="1" data-items-xs="2" data-items-sm="3"
                 data-items-lg="4">
                <?php foreach (range(0, (count($this->items_related) - 1)) as $n): ?>
                    <div class="oc-item">
                        <div class="iportfolio">
                            <div class="portfolio-image" style="max-height:350px" id="<?php echo $this->items_related[$n]->id; ?>">
                                <a href="<?php echo $this->server->securehttp . $this->server->apphost; ?>/products/productdetail?pid=<?php echo $this->items_related[$n]->id; ?>">
                                    <img
                                        src="<?php echo $this->server->securehttp . $this->server->apphost; ?>/images/productimg/<?php echo $this->items_related[$n]->image; ?>"
                                        alt="Open Imagination">
                                </a>

                                <div class="portfolio-overlay">
                                    <a href="images/portfolio/full/1.jpg" class="left-icon" style="margin-left: -55px"
                                       data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    <a href="<?php echo $this->server->securehttp . $this->server->apphost; ?>/products/productdetail?pid=<?php echo $this->items_related[$n]->id; ?>"
                                       class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <span>
                                    <a href="<?php echo $this->server->securehttp . $this->server->apphost; ?>/products/productdetail?pid=<?php echo $this->items_related[$n]->id; ?>">
                                        <?php echo $this->items_related[$n]->item_name; ?>
                                    </a>
                                </span>
                                <!--  <span><a href="#"><?php echo $this->items_related[$n]->description; ?></a></span>i -->
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
                <!--
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="images/portfolio/4/1.jpg" alt="Open Imagination">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                                        <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="images/portfolio/4/2.jpg" alt="Locked Steel Gate">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                                        <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="#">
                                                        <img src="images/portfolio/4/3.jpg" alt="Mac Sunglasses">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                                        <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="#">
                                                        <img src="images/portfolio/4/4.jpg" alt="Mac Sunglasses">
                                                    </a>
                                                    <div class="portfolio-overlay" data-lightbox="gallery">
                                                        <a href="images/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                                        <a href="images/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                                        <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="images/portfolio/4/5.jpg" alt="Console Activity">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                                        <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single.html">Console Activity</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single-gallery.html">
                                                        <img src="images/portfolio/4/6.jpg" alt="Shake It!">
                                                    </a>
                                                    <div class="portfolio-overlay" data-lightbox="gallery">
                                                        <a href="images/portfolio/full/6.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                                        <a href="images/portfolio/full/6-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                                        <a href="images/portfolio/full/6-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                                        <a href="images/portfolio/full/6-3.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                                        <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single-video.html">
                                                        <img src="images/portfolio/4/7.jpg" alt="Backpack Contents">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="http://www.youtube.com/watch?v=kuceVNBTJio" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                                        <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="images/portfolio/4/8.jpg" alt="Sunset Bulb Glow">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="images/portfolio/full/8.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                                        <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="images/portfolio/4/9.jpg" alt="Bridge Side">
                                                    </a>
                                                    <div class="portfolio-overlay" data-lightbox="gallery">
                                                        <a href="images/portfolio/full/9.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                                        <a href="images/portfolio/full/9-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                                        <a href="images/portfolio/full/9-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                                        <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single.html">Bridge Side</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single-video.html">
                                                        <img src="images/portfolio/4/10.jpg" alt="Study Table">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="http://vimeo.com/91973305" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                                        <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h3><a href="portfolio-single-video.html">Study Table</a></h3>
                                                </div>
                                            </div>
                                        </div>
                -->

            </div>
            <!-- .portfolio-carousel end -->

        </div>

    </div>

</section><!-- #content end -->
<!--
<div align="center">
<a href="#" class="button button-rounded button-reveal button-large button-white button-light tright" id="go-back"><i class="icon-angle-left"></i><span>Go Back</span></a>
<button type="button" onClick="goBack()" class="button-go-back"></button>
</div>
-->
<script data-cfasync="false" type="text/javascript"
        src="<?php echo $this->server->securehttp . $this->server->apphost; ?>/js/product-detail.js<?php $cache_d = 0; if($cache_d) { echo "?";  echo time(); } ?>">

</script>

