<?php
$countActivityLog = count($this->activityLog);
if( $countActivityLog > 0)
{
    for($i= 0; $i < $countActivityLog; $i++):
        ?>
        <div class="top-cart-item clearfix" id ="l_<?php echo $this->activityLog[$i]["id"]?>">
            <?php
            $senderLink = '/newfriends/friendprofile/friend_id/'.md5($this->activityLog[$i]['sender_id']);
            $minLenght = 17;
            switch($this->activityLog[$i]['activity_type']){
                case 'recommend item':
                    $showTTip = (strlen($this->activityLog[$i]["item_name"]) > $minLenght ) ? "t-tip notif-t-tip' title='". $this->activityLog[$i]["item_name"] ."'" : "'";
                    $name = (strlen($this->activityLog[$i]["item_name"]) > $minLenght ) ? substr($this->activityLog[$i]["item_name"],0,$minLenght - 5).'...' : $this->activityLog[$i]["item_name"];
                    $link = "/newproducts/feed?hash=".md5($this->activityLog[$i]["item_id"]);
                    $product_link="<a class='iframe ". $showTTip . " href='https://".$this->server->apphost.$link."'>".$name."</a>";
                    $activityMsg = "<span class='action'>recommended</span> <span class='bluecolor tipsy-div'>".$product_link."</span>";
                    $linkAttr = 'link="'.$link.'"';
                    break;

                case 'comment item':
                    $showTTip = (strlen($this->activityLog[$i]["item_name"]) > $minLenght ) ? "t-tip notif-t-tip' title='". $this->activityLog[$i]["item_name"] ."'" : "'";
                    $name = (strlen($this->activityLog[$i]["item_name"]) > $minLenght ) ? substr($this->activityLog[$i]["item_name"],0,$minLenght - 5).'...' : $this->activityLog[$i]["item_name"];
                    $link = "/newproducts/feed?hash=".md5($this->activityLog[$i]["item_id"]);
                    $product_link="<a class='iframe ". $showTTip . " href='https://".$this->server->apphost.$link."'>".$name."</a>";
                    $activityMsg = "<span class='action'>commented on </span> <span class='bluecolor tipsy-div'>".$product_link."</span>";
                    $linkAttr = 'link="'.$link.'"';
                    break;

                case 'Unfollow':
                    $activityMsg = "stoped following you";
                    $linkAttr = 'link="'.$senderLink.'"';
                    break;

                case 'Invitation':
                    $showTTip = (strlen($this->activityLog[$i]["event_title"]) > $minLenght ) ? "class='t-tip notif-t-tip' title='". $this->activityLog[$i]["event_title"] ."'" : "'";
                    $name = (strlen($this->activityLog[$i]["event_title"]) > $minLenght ) ? substr($this->activityLog[$i]["event_title"],0,$minLenght - 5).'...' : $this->activityLog[$i]["event_title"];
                    $link = '/modals/modaleditevent?id='. $this->activityLog[$i]['event_id'];
                    $activityMsg = 'has invited you to <a id="' . $this->activityLog[$i]['event_id'] .'" href="https://'.$this->server->apphost.$link.'" data-target="#modal" data-toggle="modal" '.$showTTip.'>'. $name .'</a>' ;
                    $linkAttr = 'link="'.$link.'"';
                    break;

                default:
                    $activityMsg = "wants to follow you";
                    $linkAttr = 'link="'.$senderLink.'"';
            }
            $sender = $this->activityLog[$i]['sender_name'];

            if($this->activityLog[$i]['sender_image'] != ''){
                $senderImg = '<div class="top-cart-item-image"><a class="user-link" href="'.$this->server->securehttp.$this->server->apphost.$senderLink.'"><img src="'.$this->server->securehttp.$this->server->apphost.'/images/userpics/thumb/'.$this->activityLog[$i]['sender_image'].'" alt="" class="pull-left"></a></div>';
            }else{
                $senderImg = '<div class="top-cart-item-image"><a><img src="'.$this->server->securehttp.$this->server->apphost.'/images/userpics/top-img.png" alt="" class="pull-left"/></a></div>';
            }
            if ($this->activityLog[$i]['activity_type'] != 'Wellcome'):
                ?>
                <div class="drp-notif-content clickable-notif" <?php echo $linkAttr;?>>
                    <div class="notif-content-left">
                        <?php echo $senderImg;?>
                        <div class="top-cart-item-desc">
                            <a class="user-link" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/friends/friendprofile/friend_id/<?php echo md5($this->activityLog[$i]['sender_id'])?>">
                                <?php echo $sender?>
                            </a>
                            <?php if($this->activityLog[$i]['activity_type'] != 'Ask Permission'):?>
                                <span class="top-cart-item-price" time-stamp-ago="<?php echo date('r', strtotime($this->activityLog[$i]['activity_time']));?>"></span>
                            <?php endif ?>
                        </div>
                        <small><?php echo $activityMsg?> <?php echo $receiverName?></small>
                    </div>
                    <div class="notif-content-right">
                        <?php if($this->activityLog[$i]['activity_type'] == 'Ask Permission'){ ?>
                            <div class="change-status accept">
                                <a type="button" class="change-status-notif pull-right small" user-id="<?php echo $this->activityLog[$i]['sender_id']?>" friend-id="<?php echo $_SESSION['user_id']?>" place="l_<?php echo $this->activityLog[$i]["id"]?>" status="1">
                                    <span class="open-unfollow-popup" friend-id="">Allow</span>
                                </a>
                            </div>
                            <div class="change-status">
                                <a type="button" class="change-status-notif pull-right small" user-id="<?php echo $this->activityLog[$i]['sender_id']?>" friend-id="<?php echo $_SESSION['user_id']?>" place="l_<?php echo $this->activityLog[$i]["id"]?>" status="2">
                                    <span class="open-unfollow-popup" friend-id="">Decline</span>
                                </a>
                            </div>

                        <?php }else{ ?>
                            <button type="button" class="delete-notif pull-right top-cart-item-quantity delete-notification-btn" notif-id="<?php echo $this->activityLog[$i]["id"]?>" place="l_<?php echo $this->activityLog[$i]["id"]?>" user-id="<?php echo $_SESSION['user_id'];?>">x</button>
                        <?php } ?>
                    </div>
                </div>
            <?php else:?>
                <div class="drp-notif-content">
                    <div class="wellcome-msg">Welcome to Giftvise!</div>
                    <small class="notification-msg">Here you will see notifications from your friends</small>
                    <button type="button" class="delete-notif pull-right top-cart-item-quantity delete-notification-btn" notif-id="<?php echo $this->activityLog[$i]["id"]?>" place="l_<?php echo $this->activityLog[$i]["id"]?>" user-id="<?php echo $_SESSION['user_id'];?>">x</button>
                </div>
            <?php endif;?>
        </div>
        <?php
    endfor;
} else { ?>
    <div class="drp-notif-content">
        <div class="notification-msg">No notifications at this time</div>
    </div>
<?php } ?> 