<?= $this->headMeta()->setHttpEquiv("Content-Type", "text/html; charset=utf-8"); ?>
<?php $this->headTitle()->setSeparator(' | '); ?>
<meta property="fb:app_id" content="<?php echo $this->fbAppID?>" >
<!--
<meta property="description" name="description" content="You've been invited to experience Giftvise - the perfect way to give the right gift for any occasion!">
-->
<!--
<meta property="og:image:width" content="620">
<meta property="og:image:height" content="400">
-->
<!--<link REL="SHORTCUT ICON" HREF="https://<?= $this->server->apphost; ?>/images/logo.ico">-->

<meta name="robots" content="noindex, nocache, nosnippet">

<!--
<link REL="SHORTCUT ICON" HREF="https://<?= $this->server->apphost; ?>/images/favicon.ico">
-->
<?php //echo $this->jQuery(); ?>
<script language="Javascript" type="text/javascript">

Zend = {
	MVC: {
		module: "<?= $this->request->module; ?>",
		controller: "<?= $this->request->controller; ?>",
		action: "<?= $this->request->action; ?>",
		params: <?= json_encode($this->request); ?>
	}
}

config = {
	server: {
		apphost: "<?= $this->server->securehttp.$this->server->apphost; ?>",
		statichost: "<?= $this->server->statichost; ?>",
		imagehost: "<?= $this->server->imagehost; ?>"
	}
}


</script>
<?
//PS_Aggregator_CSS::addFiles(
//	array(
//		"/jquery/ui/1.8.2/custom-min.css",
//		"/jquery/plugins/rating/3.2-min.css",
//		"/jquery/plugins/tooltip/1.3-min.css",
//		"/jquery/plugins/autocomplete/1.0.2-min.css",
//		"/jquery/plugins/colorpicker/colorpicker-min.css"
//	)
//);	

//echo PS_Aggregator_CSS::get("https://".$this->server->apphost);
echo $this->headLink();
?>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <?= $this->headTitle()->setSeparator(' | '); ?>
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/style.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/bootstrap-datetimepicker.min.css" type="text/css" />

    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/components/bs-switches.css" type="text/css" />

    <!-- Radio Checkbox Plugin -->
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/components/radio-checkbox.css" type="text/css" />

    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/jquery.fileupload.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/jquery.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/moment.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/bootstrap/js/transition.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/bootstrap/js/collapse.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/plugins.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/main.js"></script>



<script data-cfasync="false" type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40919207-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>

<?=$this->placeholder("head"); ?>

