<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <?= $this->headTitle()->setSeparator(' | '); ?>
    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/style.css<?php $cache_d = 0; if($cache_d) { echo '?'; echo time(); } ?>" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/responsive.css<?php $cache_d = 0; if($cache_d) { echo '?'; echo time(); } ?>" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- select2 bootstrap -->
    <link rel="stylesheet" href="https://vitalets.github.io/x-editable/assets/select2/select2.css" type="text/css" />
    <!-- Bootstrap Editable Plugin -->
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/css/components/bs-editable.css" type="text/css" />
    <!-- Bootstrap Typeaheadjs Plugin -->
    <link href="https://vitalets.github.io/x-editable/assets/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    -->
    <link rel="stylesheet" href="<?php echo $this->server->securehttp.$this->server->apphost; ?>/bookmarklet/bookmarklet.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
    <script data-cfasync="false" type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script data-cfasync="false" type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/plugins.js"></script>
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/components/bs-editable.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/jquery.fileupload.js"></script>

<script>
function goBack() {
    window.history.back()
}
</script>

</head>

<body class="stretched" >

<?php if (!$this->isGuest) : ?>
    <?php if ($this->firstEnter) : ?>
    <div class="modal-on-load" data-target="#myModal1"></div>

<!-- Modal -->
<div class="modal1 mfp-hide" id="myModal1" role="dialog">
    <div class="block divcenter" style="background-color: #FFF; max-width: 600px; max-height:600px">
        <div class="nobottomborder" style="padding: 20px;">
            <h3 style="color:rgb(200,0,0); margin-bottom:0px;">Get the Giftvise browser bookmarklet</h3>
            <h4>Drag the Wishlist icon to your bookmarks bar to add items to your Wishlist from anywhere on the web! To add items from your mobile devices, use the URL tab.</h4>
        </div>
        <p style="text-align: center"><a href="javascript:(function()%7Bvar%20s%3Ddocument.createElement(%27script%27)%3Bs.type%3D%27text%2Fjavascript%27%3Bs.src%3D%27<?php echo substr($this->server->securehttp,0,-3);?>%3A%2F%2F<?php echo $this->server->apphost;?>%2Fbookmarklet%2Fbookmark.js%3Fversion%3D1%27%3Bdocument.getElementsByTagName(%27head%27)%5B0%5D.appendChild(s)%3B%7D())%3B">
                <img class="wishlist-icon-bm-size" height="50px" width="50px" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/drag-icon.png" alt="+GV" style="max-width: 70%;"></a></p><br>
        <div class="section center nomargin" style="padding: 30px;">
            <a href="#" class="button button-red nomargin col_full" onClick="$.magnificPopup.close();return false;">Get it</a>
            <a href="#" style="text-decoration: underline;" onClick="$.magnificPopup.close();return false;">Skip</a>
        </div>
    </div>
</div>
    <?php endif; ?>
<?php endif ?>


<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog">
<div class="modal-dialog">
     <div class="modal-content">
    <div class="block divcenter" style="background-color: #FFF; max-width: 600px; max-height:400px">
       <form id="add-url-of-item-form" action="https://<?=$this->server->apphost?>/products/addproduct" method="post" enctype="multipart/form-data">
       <fieldset>
      <div class="nobottomborder" style="padding: 10px;">
            <div class="nobottomborder" style="padding: 10px;">
            </div>
             <div class="line line-sm"></div>
                       <div class="col_full">
                     <!-- <label for="email">URL:</label> -->
                       <input type="text" id="url-product" name="producturl" value="Copy paste the URL of the product you want to add" class="form-control not-dark" />
             </div>
	
	<div class="section center nomargin load-url-img hidden" id="load-url-img">
               <div class="css3-spinner" style="position: absolute; z-index:auto;">
                     <div class="css3-spinner-bounce1"></div>
                     <div class="css3-spinner-bounce2"></div>
                     <div class="css3-spinner-bounce3"></div>
               </div>
         </div>
        </div>
        <div class="section center nomargin" style="padding: 10px;">
            <a href="#" class="button button-red nomargin col_full create-new-product-url" id="create-new-product-url">Get Product</a>
            <a href="#" style="text-decoration: underline;" class="create-new-product-url-cancel" data-dismiss="modal" onClick="$.magnificPopup.close();return false;">Skip</a>
        </div>
	</fieldset>
	 </form>
    </div>
 </div>
</div>
</div>

<!-- bookmarklet add modal -->
<div class="modal fade" id="myModal3" role="dialog">
<div class="modal-dialog">
     <div class="modal-content">
            <div class="block divcenter" style="background-color: #FFF; max-width: 600px; max-height:600px">
        <div class="nobottomborder" style="padding: 20px;">
            <h3 style="color:rgb(200,0,0); margin-bottom:0px;">Get the Giftvise browser bookmarklet</h3>
            <h4>Drag the Wishlist icon to your bookmarks bar to add items to your Wishlist from anywhere on the web! To add items from your mobile devices, use the URL tab.</h4>
        </div>
        <p style="text-align: center"><a href="javascript:(function()%7Bvar%20s%3Ddocument.createElement(%27script%27)%3Bs.type%3D%27text%2Fjavascript%27%3Bs.src%3D%27<?php echo substr($this->server->securehttp,0,-3);?>%3A%2F%2F<?php echo $this->server->apphost;?>%2Fbookmarklet%2Fbookmark.js%3Fversion%3D1%27%3Bdocument.getElementsByTagName(%27head%27)%5B0%5D.appendChild(s)%3B%7D())%3B">
                <img class="wishlist-icon-bm-size" height="50px" width="50px" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/images/drag-icon.png" alt="+GV" style="max-width: 70%;"></a></p><br>
        <div class="section center nomargin" style="padding: 30px;">
            <a href="#" class="button button-red nomargin col_full" onClick="$.magnificPopup.close();return false;">Get it</a>
            <a href="#" style="text-decoration: underline;" data-dismiss="modal" onClick="$.magnificPopup.close();return false;">Skip</a>
        </div>
    </div>
     </div>
</div>
</div>

<!-- Share Modal -->
<div class="modal fade" id="myModal4" role="dialog">
<div class="modal-dialog">
     <div class="modal-content">
    <div class="block divcenter" style="background-color: #FFF; max-width: 600px; max-height:400px">
      <div class="nobottomborder" style="padding: 30px;">
            <div class="nobottomborder" style="padding: 10px;">
            </div>
             <div class="line line-sm"></div>
                <p>Share your wishlist with your friends! Enter your friend's email address or just send them your personalized link shown below.</P>
                       <div class="col_full">
                      <!-- <label for="email">URL:</label> -->
                       <input type="text" id="url-product" name="add-url-text" value="Enter email" class="form-control not-dark" />
             </div>
            <div class="line line-sm"></div>              
                       <div class="col_full">
 Link:<a style="text-decoration:none"  align="center"  href="<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist/wid/<?php echo $this->userDetail->wishlinkid; ?>"><span class="">&nbsp;&nbsp;<?php echo $this->server->securehttp.$this->server->apphost;?>/wishlist/wishlist/wid/<?php echo $this->userDetail->wishlinkid; ?>&nbsp;&nbsp;</span></a>
                       </div>
        </div>
        <div class="section center nomargin" style="padding: 10px;">
            <a href="#" class="button button-red nomargin col_full add-button-url" onClick="$.magnificPopup.close();return false;">Share</a>
            <a href="#" style="text-decoration: underline;" data-dismiss="modal" onClick="$.magnificPopup.close();return false;">Skip</a>
        </div>
    </div>
 </div>
</div>
</div>

<a href="#" data-toggle="modal" data-target="#addproducturlModal" class="url-product-details button button-3d nomargin btn-block button-xlarge hidden-xs center hidden"></a>

<!-- modal form for url product add -->
<div class="modal fade" id="addproducturlModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
	<div class="modal-dialog">
        	<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="contactFormModalLabel">Product Details</h4>
			</div>
			<div class="modal-body">

			<div class="contact-widget add-item-url">
			<div class="contact-form-result"></div>
		<form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

			<div class="form-process"></div>

			
			<div class="col_half">
			    <!-- Images -->
			 <div class="bookmarklet-img">
                            <div class="bookmarklet-main-image-wrapper">
                              <img alt="Product Name" src="/images/productimg/default-product-image.jpg<?php echo $itemImage;?>" class="bookmarklet-main-img">
                                <input type="hidden" class="form-control image-url" id="image-url" name="imageurl">
                           </div>
                        </div>
			 <div class="bookmarklet-imgswitch" id="bookmarklet-imgswitch">
       			 </div>
			</div>

	         	<div class="col_half col_last">
			   <label for="input-first-name">Product Name*</label>
                           <input type="text" class="required form-control product-name" id="url-product-name" name="name" placeholder=" product name">
			<br>
			  <label class="price-currency" curr_type="$" url_tag="" for="input-last-name">Price($)*</label>
                          <input type="text" class="required form-control price-url" id="url-product-price" name="price" placeholder="price">

			<br>
			    <label for="input-tag-names">Tags seperated by commas</label>
                            <input type="text" class="form-control product-tags" id="url-product-tags" name="txt_tags" placeholder="eg., sports">

			</div>
			<!--
			<div class="clear"></div>
		        -->
			 <div class="col_half">
			<!--
                        <label for="template-contactform-message">Upload CV <small>*</small></label>
                        <input type="file" id="template-contactform-file" name="template-contactform-file" value="" class="required sm-form-control" />
			-->
                        </div>

			<div class="col_half col_last">
			<label for="template-contactform-service">Keep Private</label>
                 	<select id="add-url-item-privacy-option" name="template-contactform-service" class="sm-form-control">
		        	<option value="NO">NO</option>
				<option value="YES">YES</option>
			</select>
			</div>

          		<div class="clear"></div>

         		<div class="col_full">
				<label for="input-email">Product description <small>*</small></label>
                                          <textarea class="form-control url-item-product-overview" id="product-details-overview" name="description" rows="6" cols="30" placeholder="Enter Product Description"></textarea>
			</div>

			<div class="col_full hidden">
			<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
			</div>

			<div class="col_full">
			<button class="button button-3d nomargin" type="submit" id="create-new-product-url-add" name="template-contactform-submit" value="submit">Add Product</button>
	         	</div>

		</form>

	</div>
     </div>
     <div class="modal-footer">
	<button type="button" class="btn btn-default create-new-product-url-add-close" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Contact Form End -->

<!-- modal form for url product add -->
<div class="modal fade" id="addproductmanualModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
	<div class="modal-dialog">
        	<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="contactFormModalLabel">Product Details</h4>
			</div>
			<div class="modal-body">

			<div class="contact-widget add-item-url">
			<div class="contact-form-result"></div>
		<form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

			<div class="form-process"></div>

			
			<div class="col_half">
			    <!-- Images -->
                 <div class="bookmarklet-img">
                    <div class="bookmarklet-main-image-wrapper">
                        <img alt="Product Name" src="/images/productimg/default-product-image.jpg"
                             id="manual-image-default" class="bookmarklet-main-img file-upload-main-image">
                        <img alt="Product Name" src="" id="manual-image-main" 
                             class="bookmarklet-main-img file-upload-main-image" style="display: none">
                        <input type="hidden" class="form-control image-url" id="manual-image-url" name="imageurl">
                    </div>
                     <div class="progress">
                         <img src="/images/ajax-loader.gif">
                         <div class="bar"></div>
                     </div>
                 </div>
                 <div class="bookmarklet-imgswitch" id="bookmarklet-imgswitch"></div>
			</div>

	         	<div class="col_half col_last">
			   <label for="input-first-name">Product Name*</label>
                           <input type="text" class="required form-control product-name" id="manual-product-name"
                                  name="name" placeholder=" product name">
			<br>
			  <label class="price-currency" curr_type="$" url_tag="" for="input-last-name">Price($)*</label>
                          <input type="text" class="required form-control price-url" id="manual-product-price" name="price" placeholder="price">

			<br>
			    <label for="input-tag-names">Tags seperated by commas</label>
                            <input type="text" class="form-control product-tags" id="manual-product-tags" name="txt_tags" placeholder="eg., sports">

			</div>
			<!--
			<div class="clear"></div>
		        -->
			 <div class="col_half">
                        <label for="template-contactform-message">Upload Image <small>*</small></label>
                        <input type="file" id="template-contactform-file" name="template-contactform-file" value="" class="required sm-form-control" />
                        </div>

			<div class="col_half col_last">
			<label for="template-contactform-service">Keep Private</label>
                 	<select id="manual-privacy-option" name="template-contactform-service" class="sm-form-control">
		        	<option value="NO">NO</option>
				<option value="YES">YES</option>
			</select>
			</div>

          		<div class="clear"></div>

         		<div class="col_full">
				<label for="input-email">Product description <small>*</small></label>
                                          <textarea class="form-control url-item-product-overview"
                                                    id="manual-details-overview" name="description" rows="6" cols="30"
                                                    placeholder="Enter Product Description"></textarea>
			</div>

			<div class="col_full hidden">
			<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
			</div>

			<div class="col_full">
			<button class="button button-3d nomargin" type="submit" id="create-new-product-manual-add" 
                    name="template-contactform-submit" value="submit">Add Product</button>
	         	</div>

		</form>

	</div>
     </div>
     <div class="modal-footer">
	<button type="button" class="btn btn-default create-new-product-url-add-close" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Contact Form End -->





<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">    
    <?php echo $this->render('/header.phtml');?>
    <?php echo $this->layout()->content; ?>
</div>
<?php echo $this->render('/footer.phtml');?>
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
============================================= -->

<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/functions.js<?php $cache_d = 0; if($cache_d) { echo '?'; echo time(); } ?>"></script>
<script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/bookmarklet/bookmark_add_url.js<?php $cache_d = 0; if($cache_d) { echo '?'; echo time(); } ?>"></script>
 <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/components/moment.js"></script>

        <!-- select2 bootstrap -->
        <script type="text/javascript" src="https://vitalets.github.io/x-editable/assets/select2/select2.js"></script>

        <!-- Bootstrap Editable Plugin -->
        <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/components/bs-editable.js"></script>

        <!-- Bootstrap Typeaheadjs Plugin -->
        <script src="https://vitalets.github.io/x-editable/assets/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
        <script src="https://vitalets.github.io/x-editable/assets/x-editable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>

        <script type="text/javascript" charset="utf-8" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/components/jquery-dateFormat.min.js"></script>

       <script type="text/javascript" src="<?php echo $this->server->securehttp.$this->server->apphost; ?>/js/main.js<?php $cache_d = 0; if($cache_d) { echo '?'; echo time(); } ?>"></script>

</body>
</html>
